Repository dependency-check/DependencyCheck, pull requests merged in 2020-11, with the labels that each got.

#2932 Extended message as an interim fix for #2416
  core/src/main/java/org/owasp/dependencycheck/exception/ExceptionCollection.java
Labels: core

#2942 Order of operations for Process.waitFor()
  .travis.yml
  core/src/main/java/org/owasp/dependencycheck/analyzer/GolangModAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/data/golang/GoModJsonParser.java
Labels: core

#2966 [issue 2960] Added support for encrypted proxy passwords in Maven set…
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
Labels: maven

#2971 Fix NullPointerException in FileUtils
  utils/src/main/java/org/owasp/dependencycheck/utils/FileUtils.java
Labels: utils

#2980 Add suppression for org.infinipan.protostream
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core
