Repository dependency-check/DependencyCheck, pull requests merged in 2020-07, with the labels that each got.

#2709 Resolve Inconsistent Merging
  core/src/main/java/org/owasp/dependencycheck/Engine.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/ArchiveAnalyzerIT.java
  core/src/test/resources/archive/handle-a.jar
  core/src/test/resources/archive/handle-b.jar
Labels: core, tests

#2722 updated suppressions for bcpg-jdk15on and bouncy-gpg (fixes #2721)
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#2732 Update site links to GitHub main branch
  src/site/markdown/data/database.md.vm
  src/site/markdown/data/upgrade.md
Labels: documentation
