Repository dependency-check/DependencyCheck, pull requests merged in 2020-12, with the labels that each got.

#2979 Standardize Handling Process output
  core/src/main/java/org/owasp/dependencycheck/analyzer/AssemblyAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/ElixirMixAuditAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/GolangModAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/RubyBundleAuditAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/processing/BundlerAuditProcessor.java
  core/src/main/java/org/owasp/dependencycheck/processing/GoModProcessor.java
  core/src/main/java/org/owasp/dependencycheck/processing/GrokAssemblyProcessor.java
  core/src/main/java/org/owasp/dependencycheck/processing/MixAuditProcessor.java
  core/src/main/java/org/owasp/dependencycheck/processing/package-info.java
  utils/src/main/java/org/owasp/dependencycheck/utils/processing/ProcessReader.java
  utils/src/main/java/org/owasp/dependencycheck/utils/processing/Processor.java
  utils/src/main/java/org/owasp/dependencycheck/utils/processing/package-info.java
Labels: core, utils

#2987 golang mod fix
  core/src/main/java/org/owasp/dependencycheck/data/golang/GoModDependency.java
  core/src/main/java/org/owasp/dependencycheck/data/golang/GoModJsonParser.java
  core/src/test/java/org/owasp/dependencycheck/data/golang/GoModJsonParserTest.java
  utils/src/main/java/org/owasp/dependencycheck/utils/JsonArrayFixingInputStream.java
  utils/src/test/java/org/owasp/dependencycheck/utils/JsonArrayFixingInputStreamTest.java
Labels: core, tests, utils

#3027 false positive on io.hawtio.hawtio-wildfly #3026
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#3039 3038 build failure with french locale
  README.md
  ant/src/test/java/org/owasp/dependencycheck/taskdefs/DependencyCheckTaskIT.java
Labels: ant, tests
