Repository dependency-check/DependencyCheck, pull requests merged in 2020-10, with the labels that each got.

#2854 Use resolved artifact's baseVersion for comparing with reactor projects
  maven/src/it/1527-aggregate-updated-dependencies/invoker.properties
  maven/src/it/1527-aggregate-updated-dependencies/new/war/pom.xml
  maven/src/it/1527-aggregate-updated-dependencies/old/lib/pom.xml
  maven/src/it/1527-aggregate-updated-dependencies/old/war/pom.xml
  maven/src/it/1527-aggregate-updated-dependencies/postbuild.groovy
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
Labels: maven, tests

#2862 Restore idxCpe on initialize.sql to mitigate performance degradation when using h2 CveDB
  core/src/main/resources/data/initialize.sql
Labels: core

#2881 Ensure resource closure for output of XM L pretty-printing
  core/src/main/java/org/owasp/dependencycheck/reporting/ReportGenerator.java
Labels: core

#2877 Add Pipfile Analyzer
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Check.java
  ant/src/site/markdown/configuration.md
  cli/src/main/java/org/owasp/dependencycheck/App.java
  cli/src/main/java/org/owasp/dependencycheck/CliParser.java
  cli/src/test/resources/sample.properties
  cli/src/test/resources/sample2.properties
  core/src/main/java/org/owasp/dependencycheck/analyzer/PipfileAnalyzer.java
  core/src/main/resources/META-INF/services/org.owasp.dependencycheck.analyzer.Analyzer
  core/src/main/resources/dependencycheck.properties
  core/src/test/java/org/owasp/dependencycheck/analyzer/PipfileAnalyzerTest.java
  core/src/test/resources/dependencycheck.properties
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  maven/src/site/markdown/configuration.md
  src/test/resources/Pipfile
  utils/src/main/java/org/owasp/dependencycheck/utils/Settings.java
Labels: ant, cli, core, documentation, maven, tests, utils

#2878 Node.js False Positives
  core/src/main/java/org/owasp/dependencycheck/analyzer/CPEAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/NvdCveAnalyzer.java
Labels: core

#2887 False positive as per #2821
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#2888 fix basic auth issue
  core/src/main/java/org/owasp/dependencycheck/data/update/nvd/DownloadTask.java
  utils/src/main/java/org/owasp/dependencycheck/utils/Downloader.java
  utils/src/main/java/org/owasp/dependencycheck/utils/HttpResourceConnection.java
  utils/src/main/java/org/owasp/dependencycheck/utils/URLConnectionFactory.java
  utils/src/test/java/org/owasp/dependencycheck/utils/URLConnectionFactoryIT.java
Labels: core, tests, utils

#2899 Implementation of the new database schema for Oracle database
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/CveDB.java
  core/src/main/resources/data/dbStatements_oracle.properties
  core/src/main/resources/data/initialize_oracle.sql
Labels: core

#2914 Add missing cleanup to UpdateMojo
  maven/src/main/java/org/owasp/dependencycheck/maven/UpdateMojo.java
Labels: maven

#2913 Add support for running on Windows in git bash environment
  cli/src/main/conf/unixBinTemplate
Labels: cli

#2918 Suppress FP of #2435
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#2919 Suppress FP of #1749
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#2917 Don't continue processing when there was a fatal exception in analysis
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Check.java
Labels: ant

#2916 Add completion for `dependency-check.sh`
  cli/pom.xml
  cli/src/main/resources/completion-for-dependency-check.sh
Labels: cli

#2929 improve matching of update versions
  core/src/main/java/org/owasp/dependencycheck/analyzer/CPEAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/dependency/VulnerableSoftware.java
  core/src/test/java/org/owasp/dependencycheck/dependency/VulnerableSoftwareTest.java
Labels: core, tests
