Repository dependency-check/DependencyCheck, pull requests merged in 2020-02, with the labels that each got.

#2448 PE analyzer
  .gitignore
  cli/src/test/resources/sample.properties
  cli/src/test/resources/sample2.properties
  core/pom.xml
  core/src/main/java/org/owasp/dependencycheck/Engine.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/AnalysisPhase.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/AssemblyAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/FileNameAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/PEAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/dependency/EvidenceCollection.java
  core/src/main/resources/META-INF/services/org.owasp.dependencycheck.analyzer.Analyzer
  core/src/main/resources/dependencycheck.properties
  core/src/test/java/org/owasp/dependencycheck/analyzer/AssemblyAnalyzerTest.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/PEAnalyzerTest.java
  core/src/test/resources/dependencycheck.properties
  pom.xml
  utils/src/main/java/org/owasp/dependencycheck/utils/Settings.java
  utils/src/test/resources/dependencycheck.properties
Labels: cli, core, tests, utils

#2456 Improve Identification of Shaded Jars
  core/src/main/java/org/owasp/dependencycheck/analyzer/CPEAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/FalsePositiveAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/JarAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/xml/pom/Model.java
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#2460 Bump mockserver-netty from 5.8.1 to 5.9.0
  pom.xml
  utils/pom.xml
Labels: utils

#2471 [SECURITY] Use HTTPS to resolve dependencies in Maven Plugin Integration Tests
  maven/src/it/1751-use-child-repositories/1751-child-one/pom.xml
Labels: maven, tests

#2478 Improve Maven Analysis
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/CveDB.java
  core/src/main/resources/data/dbStatements.properties
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
Labels: core, maven

#2495 Implement fix for Issue 2494
  maven/src/it/2494-managed-reactor-dependencies/invoker.properties
  maven/src/it/2494-managed-reactor-dependencies/pom.xml
  maven/src/it/2494-managed-reactor-dependencies/sibling1/pom.xml
  maven/src/it/2494-managed-reactor-dependencies/sibling1/src/main/resources/dummy.properties
  maven/src/it/2494-managed-reactor-dependencies/sibling2/pom.xml
  maven/src/it/2494-managed-reactor-dependencies/sibling2/src/main/resources/dummy.properties
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
Labels: maven, tests

#2488 Use Guava Hashing to compute file checksums
  utils/pom.xml
  utils/src/main/java/org/owasp/dependencycheck/utils/Checksum.java
Labels: utils

#2486 Cache dependency file checksums
  utils/src/main/java/org/owasp/dependencycheck/utils/Checksum.java
Labels: core, utils
