Repository dependency-check/DependencyCheck, pull requests merged in 2020-09, with the labels that each got.

#2781 Breaking Changes
  .travis.yml
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  core/src/main/java/org/owasp/dependencycheck/Engine.java
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/ConnectionFactory.java
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/CveDB.java
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/CveItemOperator.java
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/H2Functions.java
  core/src/main/java/org/owasp/dependencycheck/data/update/cpe/CpeEcosystemCache.java
  core/src/main/java/org/owasp/dependencycheck/dependency/CvssV2.java
  core/src/main/java/org/owasp/dependencycheck/dependency/CvssV3.java
  core/src/main/java/org/owasp/dependencycheck/dependency/Vulnerability.java
  core/src/main/java/org/owasp/dependencycheck/utils/H2DBCleanupHook.java
  core/src/main/java/org/owasp/dependencycheck/utils/H2DBLock.java
  core/src/main/resources/data/dbStatements.properties
  core/src/main/resources/data/dbStatements_h2.properties
  core/src/main/resources/data/dbStatements_mariadb.properties
  core/src/main/resources/data/dbStatements_microsoft sql server.properties
  core/src/main/resources/data/dbStatements_mysql.properties
  core/src/main/resources/data/dbStatements_postgresql.properties
  core/src/main/resources/data/initialize.sql
  core/src/main/resources/data/initialize_mssql.sql
  core/src/main/resources/data/initialize_mysql.sql
  core/src/main/resources/data/initialize_postgres.sql
  core/src/main/resources/dependencycheck.properties
  core/src/main/resources/schema/dependency-check.2.5.xsd
  core/src/main/resources/templates/jsonReport.vsl
  core/src/main/resources/templates/xmlReport.vsl
  core/src/test/java/org/owasp/dependencycheck/BaseDBTestCase.java
  core/src/test/java/org/owasp/dependencycheck/data/update/cpe/CpeEcosystemCacheTest.java
  core/src/test/java/org/owasp/dependencycheck/data/update/nvd/NvdCveParserTest.java
  core/src/test/java/org/owasp/dependencycheck/reporting/ReportGeneratorIT.java
  core/src/test/resources/data/upgrade_4.2.sql
  core/src/test/resources/dependencycheck.properties
  core/src/test/resources/nvdcve-1.1-2020.json.gz
  maven/pom.xml
  maven/src/main/resources/mojo.properties
  pom.xml
  utils/pom.xml
  utils/src/test/resources/dependencycheck.properties
Labels: ant, cli, core, tests

#2799 Add lock when accessing jsRepo
  core/src/main/java/org/owasp/dependencycheck/Engine.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/RetireJsAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/data/update/RetireJSDataSource.java
  core/src/main/java/org/owasp/dependencycheck/exception/WriteLockException.java
  core/src/main/java/org/owasp/dependencycheck/utils/WriteLock.java
  core/src/main/java/org/owasp/dependencycheck/utils/WriteLockCleanupHook.java
  core/src/main/java/org/owasp/dependencycheck/utils/WriteLockShutdownHook.java
  core/src/main/java/org/owasp/dependencycheck/utils/WriteLockShutdownHookFactory.java
  core/src/main/resources/dependencycheck.properties
  core/src/test/java/org/owasp/dependencycheck/BaseDBTestCase.java
  core/src/test/resources/dependencycheck.properties
  utils/src/main/java/org/owasp/dependencycheck/utils/Settings.java
  utils/src/test/resources/dependencycheck.properties
Labels: core, tests, utils

#2808 Fix MYSQL compatibility: vulnerability table name must be lower-case
  core/src/main/resources/data/dbStatements.properties
Labels: core

#2817 Checkstyle
  ant/pom.xml
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Check.java
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  core/src/main/java/org/owasp/dependencycheck/Engine.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/CPEAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/NodeAuditAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/NodePackageAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/PipAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/RetireJsAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/data/artifactory/ArtifactorySearch.java
  core/src/main/java/org/owasp/dependencycheck/data/elixir/MixAuditResult.java
  core/src/main/java/org/owasp/dependencycheck/data/nodeaudit/NpmPayloadBuilder.java
  core/src/main/java/org/owasp/dependencycheck/data/nvd/ecosystem/CveEcosystemMapper.java
  core/src/main/java/org/owasp/dependencycheck/data/nvd/ecosystem/DescriptionEcosystemMapper.java
  core/src/main/java/org/owasp/dependencycheck/data/nvd/ecosystem/DescriptionKeywordHint.java
  core/src/main/java/org/owasp/dependencycheck/data/nvd/ecosystem/Ecosystem.java
  core/src/main/java/org/owasp/dependencycheck/data/nvd/ecosystem/EcosystemHint.java
  core/src/main/java/org/owasp/dependencycheck/data/nvd/ecosystem/EcosystemHintNature.java
  core/src/main/java/org/owasp/dependencycheck/data/nvd/ecosystem/FileExtensionHint.java
  core/src/main/java/org/owasp/dependencycheck/data/nvd/ecosystem/StringAhoCorasickDoubleArrayTrie.java
  core/src/main/java/org/owasp/dependencycheck/data/nvd/ecosystem/UrlEcosystemMapper.java
  core/src/main/java/org/owasp/dependencycheck/data/nvd/ecosystem/UrlHostHint.java
  core/src/main/java/org/owasp/dependencycheck/data/nvd/ecosystem/UrlPathHint.java
  core/src/main/java/org/owasp/dependencycheck/data/nvd/json/CpeMatchStreamCollector.java
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/ConnectionFactory.java
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/CveDB.java
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/CveItemOperator.java
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/H2Functions.java
  core/src/main/java/org/owasp/dependencycheck/data/update/cpe/CpeEcosystemCache.java
  core/src/main/java/org/owasp/dependencycheck/data/update/nvd/NvdCveParser.java
  core/src/main/java/org/owasp/dependencycheck/reporting/ReportGenerator.java
  core/src/main/java/org/owasp/dependencycheck/utils/WriteLockShutdownHookFactory.java
  core/src/main/java/org/owasp/dependencycheck/xml/hints/HintParser.java
  core/src/main/java/org/owasp/dependencycheck/xml/suppression/SuppressionParser.java
  maven/pom.xml
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  pom.xml
  utils/pom.xml
  utils/src/main/java/org/owasp/dependencycheck/utils/Downloader.java
  utils/src/main/java/org/owasp/dependencycheck/utils/HttpResourceConnection.java
  utils/src/main/java/org/owasp/dependencycheck/utils/SSLSocketFactoryEx.java
  utils/src/main/java/org/owasp/dependencycheck/utils/URLConnectionFactory.java
Labels: ant, cli, core

#2828 GoModAnalyzer - include transitive dependencies
  core/src/main/java/org/owasp/dependencycheck/analyzer/GolangModAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/data/golang/GoModDependency.java
  core/src/main/java/org/owasp/dependencycheck/data/golang/GoModJsonParser.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/GolangModAnalyzerTest.java
  core/src/test/resources/golang/go.mod
  core/src/test/resources/golang/go.sum
  utils/pom.xml
  utils/src/main/java/org/owasp/dependencycheck/utils/JsonArrayFixingInputStream.java
  utils/src/test/java/org/owasp/dependencycheck/utils/JsonArrayFixingInputStreamTest.java
Labels: core, tests, utils
