Repository dependency-check/DependencyCheck, pull requests merged in 2020-04, with the labels that each got.

#2566 Allow client certs
  utils/src/main/java/org/owasp/dependencycheck/utils/SSLSocketFactoryEx.java
Labels: utils

#2574 Dotnet upgrade
  .travis.yml
  Dockerfile
  core/src/main/resources/GrokAssembly.zip
Labels: core

#2587 Fix NoSuchMethodError in commons-io
  core/pom.xml
  core/src/main/java/org/owasp/dependencycheck/analyzer/ArchiveAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/AssemblyAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/JarAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/RetireJsAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/ConnectionFactory.java
  core/src/main/java/org/owasp/dependencycheck/data/update/EngineVersionCheck.java
  core/src/main/java/org/owasp/dependencycheck/utils/ExtractionUtil.java
  pom.xml
  utils/src/main/java/org/owasp/dependencycheck/utils/Downloader.java
Labels: core, utils

#2595 fix #2594
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#2604 Do not unconditionally set `SQL_SAFE_UPDATES = 1` on MySQL
  core/src/main/resources/data/initialize_mysql.sql
Labels: core

#2609 add filename for relateddependencies to xml/json reports
  core/pom.xml
  core/src/main/resources/schema/dependency-check.2.4.xsd
  core/src/main/resources/templates/jsonReport.vsl
  core/src/main/resources/templates/xmlReport.vsl
  core/src/test/java/org/owasp/dependencycheck/reporting/ReportGeneratorIT.java
Labels: core, tests
