Repository dependency-check/DependencyCheck, pull requests merged in 2021-02, with the labels that each got.

#3118 Silence empty warning
  core/src/main/java/org/owasp/dependencycheck/analyzer/GolangModAnalyzer.java
Labels: core

#3134 add yarn path argument
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Check.java
  ant/src/site/markdown/configuration.md
  cli/src/main/java/org/owasp/dependencycheck/App.java
  cli/src/main/java/org/owasp/dependencycheck/CliParser.java
  cli/src/main/resources/completion-for-dependency-check.sh
  cli/src/site/markdown/arguments.md
  core/src/main/java/org/owasp/dependencycheck/analyzer/YarnAuditAnalyzer.java
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  maven/src/site/markdown/configuration.md
  src/site/markdown/dependency-check-gradle/configuration-aggregate.md
  src/site/markdown/dependency-check-gradle/configuration.md
  utils/src/main/java/org/owasp/dependencycheck/utils/Settings.java
Labels: ant, cli, core, documentation, maven, utils

#3145 add npm aliases support (#3097)
  core/src/main/java/org/owasp/dependencycheck/analyzer/NodePackageAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/data/nodeaudit/NodeAuditSearch.java
  core/src/test/java/org/owasp/dependencycheck/data/nodeaudit/NpmPayloadBuilderTest.java
Labels: core, tests

#3154 Cleanup Rejected CVEs
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/CveDB.java
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/CveItemOperator.java
  core/src/main/java/org/owasp/dependencycheck/data/update/nvd/NvdCveParser.java
  core/src/test/java/org/owasp/dependencycheck/data/update/nvd/NvdCveParserTest.java
  core/src/test/resources/nvdcve-1.0-2012.json.gz
  core/src/test/resources/nvdcve-1.1-2020.json.gz
Labels: core, tests

#3140 Add new CPE matching strategy
  core/src/main/java/org/owasp/dependencycheck/analyzer/CPEAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/CveDB.java
  core/src/main/resources/data/dbStatements.properties
Labels: core
