Repository dependency-check/DependencyCheck, pull requests merged in 2021-09, with the labels that each got.

#3619 Prevent ConcurrentModificationException on addFalseNegativeCPEs
  core/src/main/java/org/owasp/dependencycheck/analyzer/FalsePositiveAnalyzer.java
Labels: core

#3624 3338 make CVE modified url optional
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Update.java
  ant/src/site/markdown/config-update.md
  ant/src/test/java/org/owasp/dependencycheck/taskdefs/UpdateTest.java
  cli/src/main/java/org/owasp/dependencycheck/App.java
  cli/src/site/markdown/arguments.md
  cli/src/test/java/org/owasp/dependencycheck/AppTest.java
  core/src/main/resources/dependencycheck.properties
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  maven/src/site/markdown/configuration.md
  maven/src/test/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojoTest.java
  utils/src/main/java/org/owasp/dependencycheck/utils/CveUrlParser.java
  utils/src/main/java/org/owasp/dependencycheck/utils/DefaultCveUrlModifiedParser.java
  utils/src/main/java/org/owasp/dependencycheck/utils/Settings.java
Labels: documentation, tests, maven, cli, core, ant, utils

#3627 Use DependencyResolver instead of ArtifactResolver for dependencies
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
Labels: maven

#3630 3620 improve doc on experimental analyzers
  ant/src/site/markdown/configuration.md
  core/src/main/resources/dependencycheck.properties
  core/src/test/java/org/owasp/dependencycheck/analyzer/DependencyCheckPropertiesTest.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/SwiftAnalyzersTest.java
  maven/src/site/markdown/configuration.md
  src/site/markdown/dependency-check-gradle/configuration-aggregate.md
  src/site/markdown/dependency-check-gradle/configuration.md
Labels: documentation, tests, maven, core, ant

#3642 CID-338792 Specify encoding of analyzer files
  core/src/test/java/org/owasp/dependencycheck/analyzer/DependencyCheckPropertiesTest.java
Labels: tests, core

#3633 Suppress FP CPEs for the spring-boot-starter-oauth2-client project
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#3665 Add vmware rabbitmq cpe to existing amqp suppression list
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#3664 Generalize the spark-sketch suppression from 2.10 to other versions
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#3655 Include external references from OSS Index API response in the report
  core/src/main/java/org/owasp/dependencycheck/analyzer/OssIndexAnalyzer.java
Labels: core

#3669 add hive storage cve suppress CVE-2020-13949
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#3670 Reduce download threads and add sleep for NVD downloads
  core/src/main/java/org/owasp/dependencycheck/data/update/NvdCveUpdater.java
  core/src/main/java/org/owasp/dependencycheck/data/update/nvd/DownloadTask.java
  core/src/main/resources/dependencycheck.properties
Labels: core
