Repository dependency-check/DependencyCheck, pull requests merged in 2021-12, with the labels that each got.

#3835 Fix/swift package manager
  core/src/main/java/org/owasp/dependencycheck/analyzer/SwiftPackageResolvedAnalyzer.java
Labels: core

#3800 #3790 Suppress false positive for log4j-api-kotlin
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#3849 Reconfigure Checkstyle plugin to use a recent Checkstyle version
  core/src/main/java/org/owasp/dependencycheck/AnalysisTask.java
  pom.xml
Labels: core

#3856 revert upgrade of maven-plugin-plugin
  maven/pom.xml
Labels: maven

#3857 fix snapshot publish
  .github/workflows/build.yml
  maven/pom.xml
Labels: maven

#3858 Fp fixes
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#3871 Reduce FP on log4j
  core/src/main/resources/dependencycheck-base-suppression.xml
  core/src/test/java/org/owasp/dependencycheck/analyzer/PnpmAuditAnalyzerIT.java
Labels: tests, core

#3869 #3868 Suppress log4j-api & log4j-to-slf4j false positive
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#3866 Add java-vendor to the ignored manifest entries; fixes #3845
  core/src/main/java/org/owasp/dependencycheck/analyzer/JarAnalyzer.java
Labels: core

#3873 Prepare Release 6.5.1
  .github/workflows/release.yml
  RELEASE_NOTES.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  prepare-release.sh
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#3890 Resolve FP CPE-Link from netty
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#3902 Replace rich quote in disclaimer with single quote
  core/src/main/resources/templates/sarifReport.vsl
Labels: core

#3910 updated CVE list for log4j-api and log4j-web suppression
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#3909 Add npm Version Range Checks
  core/pom.xml
  core/src/main/java/org/owasp/dependencycheck/analyzer/AbstractNpmAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/NodeAuditAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/PnpmAuditAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/YarnAuditAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/data/nodeaudit/NpmPayloadBuilder.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/AbstractNpmAnalyzerIT.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/YarnAuditAnalyzerIT.java
  core/src/test/java/org/owasp/dependencycheck/data/nodeaudit/NpmPayloadBuilderTest.java
  pom.xml
Labels: tests, core

#3916 Add missing pnpm argument to CLI
  cli/src/main/java/org/owasp/dependencycheck/CliParser.java
Labels: cli

#3924 Suppress false positive for vorbis-java-tika
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core
