Repository dependency-check/DependencyCheck, pull requests merged in 2021-04, with the labels that each got.

#3244 added additional vendor and product for telerik
  core/src/main/resources/dependencycheck-base-hint.xml
Labels: core

#3242 Add suppressions for io.awspring, ref #3241
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#3257 #3068 False positive on spring-session-hazelcast
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#3263 Only access/await CVE Modified processing task when it was actually submitted
  core/src/main/java/org/owasp/dependencycheck/data/update/NvdCveUpdater.java
Labels: core

#3272 #3271 Fix false positive on org.apache.sis.storage
  core/src/main/resources/dependencycheck-base-suppression.xml
  core/src/test/java/org/owasp/dependencycheck/resources/DependencyCheckBaseSuppressionTest.java
Labels: core, tests

#3266 Suppress false positive on nio-stream-storage
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#3289 Update Bundle Audit Analysis
  core/src/main/java/org/owasp/dependencycheck/analyzer/RubyBundleAuditAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/processing/BundlerAuditProcessor.java
Labels: core

#3290 #3282 #3283 #3284 #3285 fix false positives
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#3316 Fix NullPointerException
  core/src/main/java/org/owasp/dependencycheck/data/nvd/ecosystem/CveEcosystemMapper.java
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/CveItemOperator.java
Labels: core

#3295 #3274 Fix false positive on atomicfu >= 0.15.0
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#3302 FP on org.owasp:csrfguard-jsp-tags and csrfguard-extension-session #3301
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#3327 #3022 scan modules when mentioned as file
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  maven/src/test/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojoTest.java
  maven/src/test/resources/dir_containing_maven_poms_declared_as_modules_in_another_pom/serverlibs.pom
  maven/src/test/resources/dir_without_pom/.gitkeep
  maven/src/test/resources/maven_project_base_dir/pom.xml
Labels: maven, tests

#3334 #3330 fix null pointer exception
  core/src/main/java/org/owasp/dependencycheck/data/nvd/ecosystem/UrlEcosystemMapper.java
  core/src/test/java/org/owasp/dependencycheck/data/nvd/ecosystem/UrlEcosystemMapperTest.java
Labels: core, tests

#3342 #3270 fix quarkus false positive
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core
