Repository dependency-check/DependencyCheck, pull requests merged in 2021-08, with the labels that each got.

#3561 Fix ConcurrentModificationException
  core/src/main/java/org/owasp/dependencycheck/analyzer/DependencyBundlingAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/DependencyMergingAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/FalsePositiveAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/dependency/Dependency.java
  core/src/main/java/org/owasp/dependencycheck/xml/suppression/SuppressionRule.java
Labels: core

#3564 Add Ecosystem Checks #3554
  core/src/main/java/org/owasp/dependencycheck/analyzer/DependencyMergingAnalyzer.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/DependencyMergingAnalyzerTest.java
Labels: tests, core

#3563 Extend cpe mutiny:mutiny suppression to the FP of #3562
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#3569 Ignore kotlin-version from Manifest
  core/src/main/java/org/owasp/dependencycheck/analyzer/JarAnalyzer.java
Labels: core

#3570 Update #3501
  maven/src/it/1751-use-child-repositories/pom.xml
  pom.xml
Labels: tests, maven

#3571 Coverity scan cid 3334550 and 318313
  core/src/main/java/org/owasp/dependencycheck/data/update/EngineVersionCheck.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/DependencyMergingAnalyzerTest.java
Labels: tests, core

#3576 update snapshot version
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#3583 Generalize the suppression for Spring Boot related libraries
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#3586 Fix FP CPE matches on spring-cloud-task-batch / spring-cloud-deployer-*
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#3591 Use odc to prefix user property in Maven plugin
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  maven/src/site/markdown/configuration.md
Labels: documentation, maven

#3592 Add CLI support for disabling the File Name Analyzer
  cli/src/main/java/org/owasp/dependencycheck/App.java
  cli/src/main/java/org/owasp/dependencycheck/CliParser.java
Labels: cli

#3601 #3594 Suppress false positive for com.nimbusds:lang-tag
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core
