Repository dependency-check/DependencyCheck, pull requests merged in 2021-01, with the labels that each got.

#3048 Add missing arguments to CLI
  RELEASE_NOTES.md
  cli/src/main/java/org/owasp/dependencycheck/App.java
  cli/src/main/java/org/owasp/dependencycheck/CliParser.java
  cli/src/main/resources/completion-for-dependency-check.sh
  cli/src/site/markdown/arguments.md
Labels: cli, documentation

#3052 Adding suppressionFileUser, suppressionFilePassword, suppressionFileS…
  core/src/main/java/org/owasp/dependencycheck/analyzer/AbstractSuppressionAnalyzer.java
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  maven/src/site/markdown/configuration.md
  utils/src/main/java/org/owasp/dependencycheck/utils/Settings.java
Labels: core, documentation, maven, utils

#3058 fp per #3057
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#3074 Fix False positive on java-cfenv-boot-pivotal-scs
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#3083 add sarif format
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Check.java
  ant/src/site/markdown/configuration.md
  cli/src/main/java/org/owasp/dependencycheck/CliParser.java
  cli/src/main/resources/completion-for-dependency-check.sh
  cli/src/site/markdown/arguments.md
  core/src/main/java/org/owasp/dependencycheck/reporting/ReportGenerator.java
  core/src/main/resources/templates/sarifReport.vsl
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  maven/src/site/markdown/configuration.md
  src/site/markdown/dependency-check-gradle/configuration-aggregate.md
Labels: ant, cli, core, documentation, maven

#3099 Allow skipping of child modules during aggregation
  maven/src/main/java/org/owasp/dependencycheck/maven/AggregateMojo.java
Labels: maven

#3102 Allow skipping child modules in aggregation by property
  maven/src/main/java/org/owasp/dependencycheck/maven/AggregateMojo.java
Labels: maven

#3111 Fix "go list" to support vendor directory
  core/src/main/java/org/owasp/dependencycheck/analyzer/GolangModAnalyzer.java
Labels: core

#3114 Remove direct usage of guava
  core/pom.xml
  core/src/main/java/org/owasp/dependencycheck/Engine.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/ArchiveAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/AssemblyAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/ElixirMixAuditAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/GolangModAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/JarAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/RetireJsAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/RubyBundleAuditAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/YarnAuditAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/data/artifactory/ArtifactorySearch.java
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/ConnectionFactory.java
  core/src/main/java/org/owasp/dependencycheck/data/ossindex/ODCConnectionTransport.java
  core/src/main/java/org/owasp/dependencycheck/data/update/EngineVersionCheck.java
  core/src/main/java/org/owasp/dependencycheck/data/update/cpe/CpeEcosystemCache.java
  core/src/main/java/org/owasp/dependencycheck/dependency/Dependency.java
  core/src/main/java/org/owasp/dependencycheck/utils/ExtractionUtil.java
  pom.xml
  utils/src/main/java/org/owasp/dependencycheck/utils/FileUtils.java
Labels: core, utils

#3117 Simplify Golang analyzer
  core/src/main/java/org/owasp/dependencycheck/analyzer/GolangModAnalyzer.java
Labels: core

#3119 Fix wrong formatting strings.
  core/src/main/java/org/owasp/dependencycheck/analyzer/AssemblyAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/data/update/nvd/DownloadTask.java
  core/src/main/java/org/owasp/dependencycheck/utils/WriteLockShutdownHookFactory.java
Labels: core
