Repository dependency-check/DependencyCheck, pull requests merged in 2021-05, with the labels that each got.

#3343 Ensure Ordered Output in Reports
  cli/src/main/java/org/owasp/dependencycheck/App.java
  core/src/main/java/org/owasp/dependencycheck/Engine.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/AbstractDependencyComparingAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/AbstractNpmAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/ArchiveAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/DependencyBundlingAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/dependency/Dependency.java
  core/src/main/java/org/owasp/dependencycheck/dependency/EvidenceCollection.java
  core/src/main/java/org/owasp/dependencycheck/reporting/ReportGenerator.java
  core/src/main/resources/templates/htmlReport.vsl
  core/src/main/resources/templates/jsonReport.vsl
  core/src/main/resources/templates/xmlReport.vsl
  core/src/test/java/org/owasp/dependencycheck/EngineTest.java
Labels: cli, core, tests

#3365 Break out of loop looking for high enough vulnerabilities as soon as …
  cli/src/main/java/org/owasp/dependencycheck/App.java
Labels: cli

#3354 Add suppression for jira-rest-java-client-app
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#3226 Feat: analyze RPM dependencies
  core/pom.xml
  core/src/main/java/org/owasp/dependencycheck/analyzer/ArchiveAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/DependencyBundlingAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/FalsePositiveAnalyzer.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/ArchiveAnalyzerIT.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/ArchiveAnalyzerTest.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/DependencyBundlingAnalyzerTest.java
  core/src/test/resources/struts-1.2.9-162.35.1.uyuni.noarch.rpm
  core/src/test/resources/xmlsec-2.0.7-3.7.uyuni.noarch.rpm
  src/site/markdown/analyzers/archive-analyzer.md
  src/site/markdown/analyzers/index.md
Labels: core, documentation, tests

#3369 FP on org.apache.xmlgraphics:batik-i18n #3350
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#3206 Implement Connection Pooling
  core/pom.xml
  core/src/main/java/org/owasp/dependencycheck/Engine.java
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/CveDB.java
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/DatabaseManager.java
  core/src/main/java/org/owasp/dependencycheck/data/update/nvd/ProcessTask.java
  core/src/main/resources/dependencycheck.properties
  core/src/test/java/org/owasp/dependencycheck/BaseDBTestCase.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/HintAnalyzerTest.java
  core/src/test/java/org/owasp/dependencycheck/data/nvdcve/CveDBIT.java
  core/src/test/java/org/owasp/dependencycheck/data/nvdcve/CveDBMySqlIT.java
  core/src/test/java/org/owasp/dependencycheck/data/nvdcve/DatabaseManagerTest.java
  core/src/test/java/org/owasp/dependencycheck/data/nvdcve/DatabasePropertiesIT.java
  core/src/test/resources/dependencycheck.properties
  pom.xml
Labels: core, tests

#3378 Add Perl cpanfile Analyzer
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Check.java
  ant/src/site/markdown/configuration.md
  cli/src/main/java/org/owasp/dependencycheck/App.java
  cli/src/main/java/org/owasp/dependencycheck/CliParser.java
  cli/src/site/markdown/arguments.md
  core/src/main/java/org/owasp/dependencycheck/analyzer/PerlCpanfileAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/processing/BundlerAuditProcessor.java
  core/src/main/resources/META-INF/services/org.owasp.dependencycheck.analyzer.Analyzer
  core/src/main/resources/dependencycheck-base-suppression.xml
  core/src/test/java/org/owasp/dependencycheck/analyzer/PerlCpanfileAnalyzerTest.java
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  maven/src/site/markdown/configuration.md
  src/site/markdown/analyzers/cpanfile.md
  src/site/markdown/analyzers/index.md
  src/site/markdown/dependency-check-gradle/configuration-aggregate.md
  src/site/markdown/dependency-check-gradle/configuration.md
  utils/src/main/java/org/owasp/dependencycheck/utils/Settings.java
Labels: ant, cli, core, documentation, maven, tests, utils

#3391 Add documentation on the pip analyzer
  src/site/markdown/analyzers/index.md
  src/site/markdown/analyzers/pip.md
Labels: documentation

#3395 False positives per issue #3345
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#3394 Add violations-to-github-comments
  .github/workflows/pull_requests.yml
  pom.xml
Labels: core

#3398 fix artifactory login
  core/src/main/java/org/owasp/dependencycheck/analyzer/ArtifactoryAnalyzer.java
Labels: core
