Repository dependency-check/DependencyCheck, pull requests merged in 2021-06, with the labels that each got.

#3419 Updates for issue #3408
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/CveDB.java
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/DatabaseManager.java
  core/src/main/resources/data/initialize_mysql.sql
  core/src/main/resources/dependencycheck.properties
Labels: core

#3421 Remove incorrect warnings
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
Labels: maven

#3432 #3408 reusing the same connection before returning it to the pool
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/CveDB.java
Labels: core

#3431 Fix 3430 regarding FP on spring-boot-starter-amqp
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#3438 Add additional hint evidence for org.bouncycastle.bcprovider for CVE-2020-15522
  core/src/main/resources/dependencycheck-base-hint.xml
Labels: core

#3440 update central search url
  core/src/main/java/org/owasp/dependencycheck/dependency/Dependency.java
Labels: core

#3452 Use sort type `float` for Highest Severity column. #3449
  core/src/main/resources/templates/htmlReport.vsl
Labels: core

#3443 Support for Package.resolved
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Check.java
  ant/src/site/markdown/configuration.md
  cli/src/main/java/org/owasp/dependencycheck/App.java
  cli/src/main/java/org/owasp/dependencycheck/CliParser.java
  cli/src/main/resources/completion-for-dependency-check.sh
  cli/src/site/markdown/arguments.md
  core/src/main/java/org/owasp/dependencycheck/analyzer/SwiftPackageManagerAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/SwiftPackageResolvedAnalyzer.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/SwiftAnalyzersTest.java
  core/src/test/resources/swift/spm/Package.resolved
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  maven/src/site/markdown/configuration.md
  src/site/markdown/analyzers/swift.md
  src/site/markdown/dependency-check-gradle/configuration-aggregate.md
  src/site/markdown/dependency-check-gradle/configuration.md
  utils/src/main/java/org/owasp/dependencycheck/utils/Settings.java
Labels: ant, cli, core, documentation, maven, tests, utils

#3478 Fixing issue 3025
  core/src/main/java/org/owasp/dependencycheck/dependency/Vulnerability.java
Labels: core

#3477 Fix FP #3470 against prometheus-kt
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#3476 Add extra CPE pattern for existing suppressions
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#3472 Fix false positive FP #3471 against com.fasterxml.jackson.core/jackson-annotations
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core
