Repository dependency-check/DependencyCheck, pull requests merged in 2021-07, with the labels that each got.

#3508 Fixing typo in literal string
  core/src/main/java/org/owasp/dependencycheck/utils/WriteLock.java
Labels: core

#3510 False positive FP #3509 against mysql/mysql-connector-java (CVE-2017-15945)
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#3512 Fix jetty false positives
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#3523 updates needed per #3488
  core/src/main/resources/data/initialize_mssql.sql
  core/src/main/resources/data/initialize_mysql.sql
  core/src/main/resources/data/initialize_oracle.sql
  core/src/main/resources/data/initialize_postgres.sql
Labels: core

#3488 Set length of versionEndExcluding, versionEndIncluding, versionStartExcluding and versionStartIncluding to 60
  core/src/main/resources/data/initialize.sql
  core/src/main/resources/data/upgrade_5.0.sql
  core/src/main/resources/data/upgrade_5.1.sql
  core/src/main/resources/dependencycheck.properties
Labels: core

#3532 Allow outputDirectory to be set from a user-property on the commandline
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
Labels: maven

#3542 Ensure tests don't error out when building on Java > 1.8
  maven/src/it/846-site-plugin/pom.xml
  maven/src/test/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojoTest.java
Labels: maven, tests

#3546 Jackson fixes
  core/src/main/resources/dependencycheck-base-hint.xml
  core/src/main/resources/dependencycheck-base-suppression.xml
  maven/src/it/1512-transitive-test/postbuild.groovy
  maven/src/it/629-jackson-dataformat/pom.xml
  maven/src/it/629-jackson-dataformat/postbuild.groovy
Labels: core, maven, tests

#3528 #3521 New OssIndexAnalyzer config options
  core/src/main/java/org/owasp/dependencycheck/analyzer/OssIndexAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/data/ossindex/OssindexClientFactory.java
  utils/src/main/java/org/owasp/dependencycheck/utils/Settings.java
Labels: core, utils

#3540 Spring vendor fixes
  core/src/main/java/org/owasp/dependencycheck/analyzer/JarAnalyzer.java
  core/src/main/resources/dependencycheck-base-hint.xml
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core
