Repository dependency-check/DependencyCheck, pull requests merged in 2022-08, with the labels that each got.

#4736 Fix issue 4733. Update the mysql, mssql, postgresql and oracle initialize files.
  core/src/main/resources/data/initialize_mssql.sql
  core/src/main/resources/data/initialize_mysql.sql
  core/src/main/resources/data/initialize_oracle.sql
  core/src/main/resources/data/initialize_postgres.sql
Labels: core

#4738 Fix failing test case
  core/src/test/java/org/owasp/dependencycheck/analyzer/RetireJsAnalyzerIT.java
Labels: tests, core

#4743 add yarn.lock to mixedLangSet to enable yarnAuditAnalyzer
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
Labels: maven

#4748 Vendor evidence Added for PipAnalyzer
  core/src/main/java/org/owasp/dependencycheck/analyzer/PipAnalyzer.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/PipAnalyzerIT.java
Labels: tests, core

#4701 Update htmlReport.vsl
  core/src/main/resources/templates/htmlReport.vsl
Labels: core

#4688 Fix #4671
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#4709 Log when non-base suppressions rules are unused
  ant/src/test/java/org/owasp/dependencycheck/taskdefs/DependencyCheckTaskIT.java
  core/src/main/java/org/owasp/dependencycheck/Engine.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/AbstractSuppressionAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/CpeSuppressionAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/VulnerabilitySuppressionAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/xml/suppression/SuppressionHandler.java
  core/src/main/java/org/owasp/dependencycheck/xml/suppression/SuppressionParser.java
  core/src/main/java/org/owasp/dependencycheck/xml/suppression/SuppressionRule.java
  core/src/main/java/org/owasp/dependencycheck/xml/suppression/SuppressionRuleFilter.java
  core/src/main/java/org/owasp/dependencycheck/xml/suppression/SuppressionRules.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/AbstractSuppressionAnalyzerTest.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/CpeSuppressionAnalyzerIT.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/VulnerabilitySuppressionAnalyzerIT.java
  core/src/test/java/org/owasp/dependencycheck/reporting/ReportGeneratorIT.java
  core/src/test/java/org/owasp/dependencycheck/xml/suppression/SuppressionHandlerTest.java
  core/src/test/java/org/owasp/dependencycheck/xml/suppression/SuppressionParserTest.java
Labels: tests, maven, core, ant

#4753 Added local node_module check for NodePackageAnalyzer
  core/src/main/java/org/owasp/dependencycheck/analyzer/NodePackageAnalyzer.java
Labels: core

#4762 Release 7.1.2
  .github/workflows/release.yml
  RELEASE_NOTES.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#4769 Fix suppression load
  core/src/main/java/org/owasp/dependencycheck/analyzer/AbstractSuppressionAnalyzer.java
Labels: core
