Repository dependency-check/DependencyCheck, pull requests merged in 2022-04, with the labels that each got.

#4116 Report CRITICAL (CVSSv3) or HIGH (CVSSv2) when highest-ranking CVSS-scored and unscored vulnerabilities are both present
  core/src/main/java/org/owasp/dependencycheck/dependency/Vulnerability.java
  core/src/main/java/org/owasp/dependencycheck/utils/SeverityUtil.java
  core/src/main/resources/templates/htmlReport.vsl
  core/src/test/java/org/owasp/dependencycheck/analyzer/RubyBundleAuditAnalyzerIT.java
  core/src/test/java/org/owasp/dependencycheck/dependency/VulnerabilityTest.java
Labels: tests, core

#4294 Fix error message
  core/src/main/java/org/owasp/dependencycheck/analyzer/AbstractSuppressionAnalyzer.java
Labels: core

#4298 Evict corrupt datafiles from the NVD cache upon corruption detection
  core/src/main/java/org/owasp/dependencycheck/data/update/exception/CorruptedDatastreamException.java
  core/src/main/java/org/owasp/dependencycheck/data/update/nvd/DownloadTask.java
  core/src/main/java/org/owasp/dependencycheck/data/update/nvd/NvdCache.java
  core/src/main/java/org/owasp/dependencycheck/data/update/nvd/NvdCveParser.java
  core/src/main/java/org/owasp/dependencycheck/data/update/nvd/ProcessTask.java
Labels: core

#4300 Make nestedCauseList safe for Throwables with a null-valued message
  core/src/main/java/org/owasp/dependencycheck/exception/ExceptionCollection.java
Labels: core

#4302 fix reproducible build issues
  cli/pom.xml
  core/src/main/resources/dependencycheck-cache.properties
  pom.xml
Labels: cli, core

#4306 Add Reminder
  maven/src/main/resources/mojo.properties
Labels: maven

#4330 Fix #4327 - FP on javax.ws.rs-api
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#4336 Fix [FP]: sonarqube-gradle-plugin-3.3.jar #4199
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#4332 Fix [FP]: vaadin-spring-3.2.1.jar #4180
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#4366 Remove an unneeded not effective hardcoded spring suppressions
  core/src/main/java/org/owasp/dependencycheck/analyzer/FalsePositiveAnalyzer.java
Labels: core

#4365 Fp fixes
  core/src/main/resources/dependencycheck-base-hint.xml
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#4378 Fix false CPE match for pl.allegro libraries
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#4373 Add the already documented option for multiple nested reportFormat de…
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Check.java
  ant/src/test/java/org/owasp/dependencycheck/taskdefs/DependencyCheckTaskIT.java
  ant/src/test/resources/build.xml
Labels: tests, ant

#4371 FP add suppression to base for mime4j-dom #4370
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#4393 Minor doc update
  src/site/markdown/analyzers/index.md
  src/site/markdown/index.md
Labels: documentation

#4402 Release 7.1.0
  .github/workflows/release.yml
  RELEASE_NOTES.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#4403 Add a hint for false negative of Apache Xerces. Fixes #4389
  core/src/main/resources/dependencycheck-base-hint.xml
Labels: core

#4299 #4293 Handle dependency with unspecified version to prevent NPE when scanning a lock file
  core/src/main/java/org/owasp/dependencycheck/analyzer/NodePackageAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/data/nodeaudit/NpmPayloadBuilder.java
  core/src/test/java/org/owasp/dependencycheck/data/nodeaudit/NpmPayloadBuilderTest.java
Labels: tests, core

#4418 Fixup pom-hint to properly match all spring-framework components
  core/src/main/resources/dependencycheck-base-hint.xml
Labels: core

#4419 Configure read timeout for downloads
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Update.java
  ant/src/site/markdown/config-update.md
  cli/src/main/java/org/owasp/dependencycheck/App.java
  cli/src/main/java/org/owasp/dependencycheck/CliParser.java
  cli/src/site/markdown/arguments.md
  core/src/main/java/org/owasp/dependencycheck/agent/DependencyCheckScanAgent.java
  core/src/main/java/org/owasp/dependencycheck/data/update/EngineVersionCheck.java
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  maven/src/site/markdown/configuration.md
  utils/src/main/java/org/owasp/dependencycheck/utils/Settings.java
  utils/src/main/java/org/owasp/dependencycheck/utils/URLConnectionFactory.java
Labels: documentation, maven, cli, core, ant, utils

#4424 Do not verify JAR files when analyzing
  core/src/main/java/org/owasp/dependencycheck/analyzer/JarAnalyzer.java
  core/src/test/java/org/owasp/dependencycheck/xml/pom/PomUtilsTest.java
Labels: tests, core
