Repository dependency-check/DependencyCheck, pull requests merged in 2022-01, with the labels that each got.

#3937 #3936 Fix CVE-2021-44832 false positive for log4-api & log4j-web
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#3941 Release 6.5.2
  .github/workflows/release.yml
  RELEASE_NOTES.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#3946 Merge identical virtual dependencies into one
  core/src/main/java/org/owasp/dependencycheck/analyzer/DependencyMergingAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/dependency/Dependency.java
  maven/src/it/3944-multimodule-virtual-duplication/invoker.properties
  maven/src/it/3944-multimodule-virtual-duplication/lib/pom.xml
  maven/src/it/3944-multimodule-virtual-duplication/lib2/pom.xml
  maven/src/it/3944-multimodule-virtual-duplication/lib3/pom.xml
  maven/src/it/3944-multimodule-virtual-duplication/lib4/pom.xml
  maven/src/it/3944-multimodule-virtual-duplication/pom.xml
  maven/src/it/3944-multimodule-virtual-duplication/postbuild.groovy
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
Labels: tests, maven, core

#3931 Cache and reuse resolution results
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  maven/src/main/java/org/owasp/dependencycheck/maven/Mshared998Util.java
Labels: maven

#3960 Add developer debug option
  cli/src/main/conf/unixBinTemplate
  cli/src/main/java/org/owasp/dependencycheck/CliParser.java
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: cli, core

#3970 Node package fix
  core/src/main/java/org/owasp/dependencycheck/analyzer/NodePackageAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/NvdCveAnalyzer.java
Labels: core

#3969 fix concurrent modification exception
  core/src/main/java/org/owasp/dependencycheck/analyzer/NvdCveAnalyzer.java
Labels: core

#3978 Fix FP reports
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#3983 Fix ecosystem
  .github/workflows/release.yml
  RELEASE_NOTES.md
  core/src/main/java/org/owasp/dependencycheck/analyzer/AbstractNpmAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/ElixirMixAuditAnalyzer.java
Labels: core

#3984 Release 6.5.3
  .github/workflows/release.yml
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#3952 Utilize developer evidence from pom.xml
  core/src/main/java/org/owasp/dependencycheck/analyzer/JarAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/data/update/nvd/DownloadTask.java
  core/src/main/java/org/owasp/dependencycheck/xml/pom/Developer.java
  core/src/main/java/org/owasp/dependencycheck/xml/pom/License.java
  core/src/main/java/org/owasp/dependencycheck/xml/pom/Model.java
  core/src/main/java/org/owasp/dependencycheck/xml/pom/PomHandler.java
Labels: core

#3993 Fix sarif report
  core/src/main/java/org/owasp/dependencycheck/reporting/ReportTool.java
  core/src/main/java/org/owasp/dependencycheck/reporting/SarifRule.java
  core/src/main/resources/templates/sarifReport.vsl
Labels: core

#3994 fix issue #3992
  core/src/main/java/org/owasp/dependencycheck/analyzer/DependencyMergingAnalyzer.java
Labels: core

#4017 Bug Fix for dependency-check-gradle
  core/src/main/java/org/owasp/dependencycheck/Engine.java
  core/src/main/java/org/owasp/dependencycheck/dependency/Dependency.java
  core/src/main/java/org/owasp/dependencycheck/reporting/SarifRule.java
  core/src/test/java/org/owasp/dependencycheck/dependency/DependencyTest.java
Labels: tests, core

#4032 Upgrade to net6.0 per #3951
  .github/workflows/build.yml
  .github/workflows/pull_requests.yml
  .github/workflows/release.yml
  Dockerfile
  core/src/main/resources/GrokAssembly.zip
Labels: core
