Repository dependency-check/DependencyCheck, pull requests merged in 2022-12, with the labels that each got.

#5112 Optimize file checksums calculation
  utils/pom.xml
  utils/src/main/java/org/owasp/dependencycheck/utils/Checksum.java
Labels: utils

#5115 Release 7.4.0
  .github/workflows/release.yml
  CHANGELOG.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#5125 Fp fixes
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#5126 fix: broken links
  CHANGELOG.md
  README.md
  ant/README.md
  ant/pom.xml
  ant/src/site/markdown/configuration.md
  archetype/pom.xml
  cli/README.md
  cli/pom.xml
  core/README.md
  core/pom.xml
  maven/README.md
  src/site/markdown/dependency-check-gradle/index.md.vm
  src/site/markdown/dependency-check-jenkins/index.md
  src/site/markdown/general/hints.md
  utils/pom.xml
Labels: documentation, maven, cli, core, ant, utils

#5127 fix: correct node_module path
  core/README.md
  core/src/main/java/org/owasp/dependencycheck/analyzer/NodePackageAnalyzer.java
Labels: core

#5095 fix: document scanning dependency-check with dependency-check
  README.md
  core/pom.xml
  core/src/test/java/org/owasp/dependencycheck/analyzer/PerlCpanfileAnalyzerTest.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/RubyBundleAuditAnalyzerIT.java
  maven/pom.xml
  pom.xml
Labels: tests, maven, core

#5133 Release 7.4.1
  .github/workflows/release.yml
  CHANGELOG.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#5135 fix: resolve reported issues with npm
  core/pom.xml
  core/src/main/java/org/owasp/dependencycheck/analyzer/AbstractNpmAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/DependencyBundlingAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/NodePackageAnalyzer.java
  core/src/test/java/org/owasp/dependencycheck/data/nvdcve/DatabasePropertiesIT.java
  core/src/test/java/org/owasp/dependencycheck/utils/SemverTest.java
  pom.xml
Labels: tests, core

#5143 Add Maven property for Node Audit Analyzer URL
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  maven/src/site/markdown/configuration.md
Labels: documentation, maven

#5165 fix(FP): Suppress pluto CPE for the portlet-API library
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#5173 Add saml_project:saml to generic suppression
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#5152 fix: maven compatability
  README.md
  maven/pom.xml
  pom.xml
Labels: maven

#5160 Add the disablePoetry CLI-option to the parser and documentation
  cli/src/main/java/org/owasp/dependencycheck/CliParser.java
  cli/src/site/markdown/arguments.md
Labels: documentation, cli

#5156 Fp fixes
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#5180 fix: Make OSS Index URL configurable via CLI
  cli/src/main/java/org/owasp/dependencycheck/App.java
  cli/src/main/java/org/owasp/dependencycheck/CliParser.java
  cli/src/site/markdown/arguments.md
Labels: documentation, cli

#5179 fix: synchronization issue
  core/src/main/java/org/owasp/dependencycheck/analyzer/DependencyMergingAnalyzer.java
Labels: core

#5188 build: release 7.4.2
  .github/workflows/release.yml
  CHANGELOG.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#5190 fix: Upgrade semver4j to 4.1.1 to prevent NullPointerException
  core/src/test/java/org/owasp/dependencycheck/utils/SemverTest.java
  pom.xml
Labels: tests, core

#5191 fix: false positives
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#5192 build: release 7.4.3
  .github/workflows/release.yml
  CHANGELOG.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#5193 fix: generic identifier in ComposerLockAnalyzer
  core/src/main/java/org/owasp/dependencycheck/analyzer/ComposerLockAnalyzer.java
Labels: core

#5198 fix: update documentation
  cli/src/site/markdown/arguments.md
Labels: documentation, cli
