Repository dependency-check/DependencyCheck, pull requests merged in 2022-07, with the labels that each got.

#4664 Alternative enhancement of the JUnit report
  core/src/main/resources/templates/junitReport.vsl
Labels: core

#4694 Minor Documentation Update
  src/site/markdown/data/cachenvd.md
Labels: documentation

#4678 Added support for msbuild version tags in addition to attributes.
  core/src/main/java/org/owasp/dependencycheck/data/nuget/XPathMSBuildProjectParser.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/MSBuildProjectAnalyzerTest.java
  core/src/test/resources/msbuild/test.csproj
Labels: tests, core

#4697 Update gradle documentation for missing configuration properties
  src/site/markdown/dependency-check-gradle/configuration.md
Labels: documentation

#4707 Update Documentation
  ant/src/site/markdown/configuration.md
  core/src/main/java/org/owasp/dependencycheck/data/update/RetireJSDataSource.java
  maven/src/site/markdown/configuration.md
Labels: documentation, maven, core, ant

#4708 Spring FP fixing and Spring library related suppressions cleanup
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#4713 Extend Quarkus Liquibase pattern
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#4714 Remove FP for parseurl
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core
