Repository dependency-check/DependencyCheck, pull requests merged in 2022-06, with the labels that each got.

#4568 Fix compilation error in cli
  cli/src/main/java/org/owasp/dependencycheck/App.java
Labels: cli

#4572 Fixup XML template for related dependencies Sha256sum
  core/src/main/resources/templates/xmlReport.vsl
Labels: core

#4578 Fixup description of ossindexAnalyzerUseCache; Fixes #4543
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
Labels: maven

#4583 Suppress FP CPE for Spring Cloud Dataflow REST artifacts
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#4584 Fp fixes
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#4592 Release 7.1.1
  .github/workflows/release.yml
  RELEASE_NOTES.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#4624 4499 infinite loop in cmakeanalyzer
  core/src/main/java/org/owasp/dependencycheck/analyzer/CMakeAnalyzer.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/CMakeAnalyzerTest.java
  core/src/test/resources/cmake/libtiff/FindDeflate.cmake
Labels: tests, core
