Repository dependency-check/DependencyCheck, pull requests merged in 2022-09, with the labels that each got.

#4773 Add a PinnedMavenInstallAnalyzer
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Check.java
  cli/src/main/java/org/owasp/dependencycheck/App.java
  cli/src/main/java/org/owasp/dependencycheck/CliParser.java
  cli/src/test/resources/sample.properties
  cli/src/test/resources/sample2.properties
  core/src/main/java/org/owasp/dependencycheck/analyzer/PinnedMavenInstallAnalyzer.java
  core/src/main/resources/META-INF/services/org.owasp.dependencycheck.analyzer.Analyzer
  core/src/main/resources/dependencycheck.properties
  core/src/test/java/org/owasp/dependencycheck/analyzer/PinnedMavenInstallAnalyzerTest.java
  core/src/test/resources/dependencycheck.properties
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  src/test/resources/install.json
  src/test/resources/maven_install.json
  utils/src/main/java/org/owasp/dependencycheck/utils/Settings.java
Labels: tests, maven, cli, core, ant, utils

#4801 Fix false-positive CPE matches for spring-boot libraries
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#4795 Fixing file separator bug for unit test on windows machines
  core/src/test/java/org/owasp/dependencycheck/analyzer/DependencyCheckPropertiesTest.java
Labels: tests, core

#4796 Checking for null value from MSBuild xpath method before accessing it
  core/src/main/java/org/owasp/dependencycheck/data/nuget/XPathMSBuildProjectParser.java
  core/src/test/resources/msbuild/test.csproj
Labels: tests, core

#4800 Allow custom report templates via CLI
  cli/src/main/java/org/owasp/dependencycheck/CliParser.java
Labels: cli

#4804 CLI,completion: add --disableMavenInstall
  cli/src/main/java/org/owasp/dependencycheck/CliParser.java
  cli/src/main/resources/completion-for-dependency-check.sh
Labels: cli

#4843 Adjusted mime4j pattern
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#4845 Prepare Release 7.2.0
  .github/workflows/release.yml
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  core/src/main/resources/dependencycheck-base-suppression.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#4866 Release 7.2.1
  .github/workflows/release.yml
  RELEASE_NOTES.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#4870 Add links to Gradle Plugin page in various docs
  README.md
  core/src/site/markdown/index.md
  src/site/markdown/general/hints.md
  src/site/markdown/general/suppression.md
Labels: documentation, core

#4869 Add DartAnalyzer
  cli/src/test/resources/sample.properties
  cli/src/test/resources/sample2.properties
  core/pom.xml
  core/src/main/java/org/owasp/dependencycheck/analyzer/DartAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/data/nvd/ecosystem/Ecosystem.java
  core/src/main/resources/META-INF/services/org.owasp.dependencycheck.analyzer.Analyzer
  core/src/main/resources/dependencycheck.properties
  core/src/test/java/org/owasp/dependencycheck/analyzer/DartAnalyzerTest.java
  core/src/test/resources/dart/pubspec.lock
  core/src/test/resources/dart/pubspec.yaml
  core/src/test/resources/dependencycheck.properties
  utils/src/main/java/org/owasp/dependencycheck/utils/Settings.java
  utils/src/test/resources/dependencycheck.properties
Labels: tests, cli, core, utils

#4877 Fix NPE
  core/src/main/java/org/owasp/dependencycheck/analyzer/SwiftPackageResolvedAnalyzer.java
Labels: core

#4871 Update Gradle Documentation
  src/site/markdown/dependency-check-gradle/configuration-aggregate.md
  src/site/markdown/dependency-check-gradle/configuration.md
  src/site/markdown/dependency-check-gradle/index.md.vm
Labels: documentation

#4892 Parse for Dart SDK version
  core/src/main/java/org/owasp/dependencycheck/analyzer/DartAnalyzer.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/DartAnalyzerTest.java
Labels: tests, core
