Repository dependency-check/DependencyCheck, pull requests merged in 2022-11, with the labels that each got.

#5004 Update Suppression File
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#5011 Update Dart Analyzer
  core/src/main/java/org/owasp/dependencycheck/analyzer/DartAnalyzer.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/DartAnalyzerTest.java
  core/src/test/resources/dart.addressbook/pubspec.yaml
  core/src/test/resources/dart.yaml/pubspec.yaml
Labels: tests, core

#5020 Fix Test Case
  core/src/test/java/org/owasp/dependencycheck/analyzer/RetireJsAnalyzerIT.java
Labels: tests, core

#5046 Set the context class loader when executing ant tasks
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Check.java
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Purge.java
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Update.java
Labels: ant

#5054 fix: resolve false positive
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#5056 Release 7.3.1
  .github/workflows/release.yml
  RELEASE_NOTES.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#5065 Release 7.3.2
  .github/workflows/release.yml
  RELEASE_NOTES.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#5067 fix: fake mirror for homebrew testing
  src/site/resources/hb_nvd/nvdcve-1.1-2022.json.gz
  src/site/resources/hb_nvd/nvdcve-1.1-2022.meta
  src/site/resources/hb_nvd/nvdcve-1.1-modified.json.gz
  src/site/resources/hb_nvd/nvdcve-1.1-modified.meta
Labels: documentation

#5053 feat: add HTML report without JS
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Check.java
  cli/src/main/java/org/owasp/dependencycheck/CliParser.java
  core/src/main/java/org/owasp/dependencycheck/reporting/ReportGenerator.java
  core/src/main/resources/templates/jenkinsReport.vsl
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
Labels: maven, cli, core, ant

#5025 feat: Add experimental Python Poetry support
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Check.java
  ant/src/site/markdown/configuration.md
  cli/src/main/java/org/owasp/dependencycheck/App.java
  cli/src/main/java/org/owasp/dependencycheck/CliParser.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/PoetryAnalyzer.java
  core/src/main/resources/META-INF/services/org.owasp.dependencycheck.analyzer.Analyzer
  core/src/main/resources/dependencycheck.properties
  core/src/test/java/org/owasp/dependencycheck/analyzer/PoetryAnalyzerTest.java
  core/src/test/resources/poetry.lock
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  maven/src/site/markdown/configuration.md
  utils/src/main/java/org/owasp/dependencycheck/utils/Settings.java
Labels: documentation, tests, maven, cli, core, ant, utils

#5069 feat: improve maven CLI proxy config
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
Labels: maven

#5072 fix: prevent duplicate, non-built (reactor) virtual dependencies
  core/src/main/java/org/owasp/dependencycheck/Engine.java
Labels: core

#5070 fix(FP): Several false positive resolutions not supported by our automation
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/CveDB.java
  core/src/main/java/org/owasp/dependencycheck/data/update/NvdCveUpdater.java
  core/src/main/resources/data/dbEcosystemCacheUpdates.sql
  core/src/main/resources/dependencycheck-base-hint.xml
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#5078 fix: add package-lock v2 and v3
  core/src/main/java/org/owasp/dependencycheck/analyzer/NodePackageAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/data/nodeaudit/NpmPayloadBuilder.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/NodePackageAnalyzerTest.java
  core/src/test/resources/nodejs/test_lockv2/node_modules/is-buffer/LICENSE
  core/src/test/resources/nodejs/test_lockv2/node_modules/is-buffer/package.json
  core/src/test/resources/nodejs/test_lockv2/node_modules/is-number/LICENSE
  core/src/test/resources/nodejs/test_lockv2/node_modules/is-number/package.json
  core/src/test/resources/nodejs/test_lockv2/node_modules/isarray/package.json
  core/src/test/resources/nodejs/test_lockv2/node_modules/isobject/LICENSE
  core/src/test/resources/nodejs/test_lockv2/node_modules/isobject/package.json
  core/src/test/resources/nodejs/test_lockv2/node_modules/kind-of/LICENSE
  core/src/test/resources/nodejs/test_lockv2/node_modules/kind-of/package.json
  core/src/test/resources/nodejs/test_lockv2/package-lock.json
  core/src/test/resources/nodejs/test_lockv2/package.json
  core/src/test/resources/nodejs/test_lockv3/node_modules/is-buffer/LICENSE
  core/src/test/resources/nodejs/test_lockv3/node_modules/is-buffer/package.json
  core/src/test/resources/nodejs/test_lockv3/node_modules/is-number/LICENSE
  core/src/test/resources/nodejs/test_lockv3/node_modules/is-number/package.json
  core/src/test/resources/nodejs/test_lockv3/node_modules/isarray/package.json
  core/src/test/resources/nodejs/test_lockv3/node_modules/isobject/LICENSE
  core/src/test/resources/nodejs/test_lockv3/node_modules/isobject/package.json
  core/src/test/resources/nodejs/test_lockv3/node_modules/kind-of/LICENSE
  core/src/test/resources/nodejs/test_lockv3/node_modules/kind-of/package.json
  core/src/test/resources/nodejs/test_lockv3/package-lock.json
  core/src/test/resources/nodejs/test_lockv3/package.json
Labels: tests, core

#5087 fix: Support environments with only dotnet runtime for AssemblyAnalyzer
  core/src/main/java/org/owasp/dependencycheck/analyzer/AssemblyAnalyzer.java
Labels: core

#5094 fix(FP): Suppress improper CPE assignment for liferay subcomponents
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core
