Repository dependency-check/DependencyCheck, pull requests merged in 2022-05, with the labels that each got.

#4428 Suppress asyncutil vs. async_project FP
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#4433 Suppress icu4j FP, prevent future false-negatives on icu4j
  core/src/main/resources/data/initialize.sql
  core/src/main/resources/data/upgrade_5.2.sql
  core/src/main/resources/dependencycheck-base-hint.xml
  core/src/main/resources/dependencycheck-base-suppression.xml
  core/src/main/resources/dependencycheck.properties
Labels: core

#4472 Suppress FP CPE match for quarkus-liquibase, quarkus-container-image-…
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#4493 Fp fixes
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#4494 Make NodeAuditAnalyzer skip DevDependencies in legacy mode; fixes #4491
  core/src/main/java/org/owasp/dependencycheck/analyzer/NodeAuditAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/data/nodeaudit/NpmPayloadBuilder.java
  core/src/test/java/org/owasp/dependencycheck/data/nodeaudit/NpmPayloadBuilderTest.java
Labels: tests, core

#4485 Enhance cli log output for vulnerabilities
  cli/src/main/java/org/owasp/dependencycheck/App.java
Labels: cli
