Repository dependency-check/DependencyCheck, pull requests merged in 2022-03, with the labels that each got.

#4148 Suppress FP CPE matching for apache james
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#4158 Fix Error Message
  core/src/main/java/org/owasp/dependencycheck/analyzer/AbstractSuppressionAnalyzer.java
Labels: core

#4166 Suppress FP for etcd-java
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#4191 Makes excludes property configurable in command line
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
Labels: maven

#4159 False Positive Reports
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#4167 #4078 Return a dedicated error message when sonatype returns a 403
  core/src/main/java/org/owasp/dependencycheck/analyzer/OssIndexAnalyzer.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/OssIndexAnalyzerTest.java
Labels: tests, core

#4193 Suppress the netty CPE for all netty incubator projects
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#4184 Surpress FPs for cryptomator libraries. Fixes #4177
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#4230 #4217 apache-httpclient false positive on quarkus-apache-httpclient
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#4233 Ensure closure of OSSIndexAnalyzer at the end of a test method to clear static test state
  core/src/test/java/org/owasp/dependencycheck/analyzer/OssIndexAnalyzerTest.java
Labels: tests, core

#4231 Added option for graceful handling of remote errors
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Check.java
  ant/src/site/markdown/configuration.md
  cli/src/main/java/org/owasp/dependencycheck/App.java
  cli/src/main/java/org/owasp/dependencycheck/CliParser.java
  cli/src/site/markdown/arguments.md
  core/src/main/java/org/owasp/dependencycheck/analyzer/OssIndexAnalyzer.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/OssIndexAnalyzerTest.java
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  maven/src/site/markdown/configuration.md
  utils/src/main/java/org/owasp/dependencycheck/utils/Settings.java
Labels: documentation, tests, maven, cli, core, ant, utils

#4234 #4219 cpe:/a:liquibase:liquibase is a false positive for liquibase-sessionlock
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#4200 support partial fingerprints for sarif reports
  core/src/main/java/org/owasp/dependencycheck/reporting/ReportGenerator.java
  core/src/main/resources/templates/sarifReport.vsl
  core/src/test/java/org/owasp/dependencycheck/reporting/ReportGeneratorIT.java
Labels: tests, core

#4235 Bug Fixes
  core/src/test/java/org/owasp/dependencycheck/analyzer/OssIndexAnalyzerTest.java
  maven/pom.xml
  pom.xml
Labels: tests, maven, core

#4236 Fix for Postgres
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/CveDB.java
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/DatabaseManager.java
  core/src/main/resources/data/dbStatements.properties
  core/src/main/resources/data/dbStatements_h2.properties
  maven/src/it/846-site-plugin/pom.xml
Labels: tests, maven, core

#4250 Release 7.0.1
  .github/workflows/release.yml
  RELEASE_NOTES.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#4252 Documentation elixir mix audit
  cli/src/site/markdown/arguments.md
Labels: documentation, cli

#4192 Use a proper parser for PyPA Core Metadata
  core/src/main/java/org/owasp/dependencycheck/analyzer/PythonDistributionAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/utils/PyPACoreMetadataParser.java
  core/src/test/java/org/owasp/dependencycheck/utils/PyPACoreMetadataParserTest.java
Labels: tests, core

#4269 #4268 Update OWASP Top 10 links
  ant/README.md
  cli/README.md
  src/site/markdown/index.md
Labels: documentation, cli, ant

#4264 Update PR Workflow
  .github/workflows/pull_requests.yml
  core/pom.xml
  pom.xml
  utils/pom.xml
Labels: core, utils

#4270 False Negative
  core/src/main/resources/dependencycheck-base-hint.xml
Labels: core

#4259 add suppression to base for mime4j-core and mime4j-dom #3987
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#4275 Prepare Release 7.0.2
  .github/workflows/release.yml
  RELEASE_NOTES.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#4286 Prepare Release 7.0.3
  .github/workflows/release.yml
  RELEASE_NOTES.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#4290 Prepare Release 7.0.4
  .github/workflows/release.yml
  RELEASE_NOTES.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#4265 Support Package.swift version 2 Specification
  core/src/main/java/org/owasp/dependencycheck/analyzer/SwiftPackageResolvedAnalyzer.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/SwiftAnalyzersTest.java
  core/src/test/resources/swift/spmV2/Package.resolved
Labels: tests, core
