Repository dependency-check/DependencyCheck, pull requests merged in 2022-02, with the labels that each got.

#4037 :bug: add --disablePnpmAudit cli option
  cli/src/main/java/org/owasp/dependencycheck/CliParser.java
Labels: cli

#4049 Fix Order of Operations
  core/src/main/java/org/owasp/dependencycheck/analyzer/NodePackageAnalyzer.java
Labels: core

#4045 documentation update for dotnet 6.0 & assembly analzyer
  README.md
  core/src/main/java/org/owasp/dependencycheck/analyzer/AssemblyAnalyzer.java
  src/site/markdown/analyzers/assembly-analyzer.md
Labels: documentation, core

#4051 Bump maven-reporting-api from 3.0 to 3.1.0
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  pom.xml
Labels: maven

#4055 Sarif Report Bug Fix
  core/src/main/resources/templates/sarifReport.vsl
Labels: core

#4057 OSSIndexAnalyzer rate limiting exceeded message
  core/src/main/java/org/owasp/dependencycheck/analyzer/OssIndexAnalyzer.java
Labels: core

#4067 Include score
  core/src/main/java/org/owasp/dependencycheck/analyzer/ArchiveAnalyzer.java
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
Labels: maven, core

#4066 Extend `cpe:/a:netty:netty` suppression to all netty-tcnative modules
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#4081 Prevent embedded-artifacts manifest entry triggering FPs on the embedding jar
  core/src/main/java/org/owasp/dependencycheck/analyzer/JarAnalyzer.java
Labels: core

#4090 False Positive workflow automation
  .github/ISSUE_TEMPLATE/false-positive-report.md
  .github/ISSUE_TEMPLATE/false-positive-report.yml
  .github/issue_template.md
  .github/workflows/false-positive-ops.yml
  .github/workflows/files/maven-pom.end
  .github/workflows/files/maven-pom.middle
  .github/workflows/files/maven-pom.start
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#4093 Resolve false negative on PostgreSQL JDBC driver
  core/src/main/resources/dependencycheck-base-hint.xml
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#4096 Fix a performance drain due to multiple executions of the function body
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/H2Functions.java
Labels: core

#4095 #4077 Declare com.itextpdf:pdfrender as not related to cpe:/a:itextpdf:itext
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#4005 Add FP for reactor-kafka
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#4102 #4058 Prevent NPE during race condition
  core/src/main/java/org/owasp/dependencycheck/analyzer/OssIndexAnalyzer.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/OssIndexAnalyzerTest.java
Labels: tests, core

#4104 update false positives
  maven/pom.xml
Labels: core

#4115 Fixup the advancedHelp text for enableNexus flag
  cli/src/main/java/org/owasp/dependencycheck/CliParser.java
Labels: cli

#4108 Break build on failure to download NVD datastreams (when updates are requested or autoUpdate is enabled)
  core/src/main/java/org/owasp/dependencycheck/data/update/NvdCveUpdater.java
  core/src/main/java/org/owasp/dependencycheck/data/update/nvd/DownloadTask.java
Labels: core

#4121 Prepare Release 7.0.0
  .github/workflows/release.yml
  README.md
  RELEASE_NOTES.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils
