Repository dependency-check/DependencyCheck, pull requests merged in 2022-10, with the labels that each got.

#4908 Fix Case Issue with SQL
  core/src/main/resources/data/dbStatements.properties
Labels: core

#4905 Switch to Jackson Blackbird
  core/pom.xml
  core/src/main/java/org/owasp/dependencycheck/data/update/nvd/NvdCveParser.java
Labels: core

#4909 debug concurrent modification exception
  maven/src/it/690-threadsafety/invoker.properties
Labels: tests, maven

#4913 Suppress false positives for common jruby rubygems
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#4934 Add new Mysql Connector java maven co-ordinates after migration
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#4959 Fix RetireJS documentation 404
  src/site/markdown/analyzers/retirejs-analyzer.md
Labels: documentation

#4935 fix concurrent modification exception
  ant/src/test/java/org/owasp/dependencycheck/taskdefs/DependencyCheckTaskIT.java
  core/src/main/java/org/owasp/dependencycheck/Engine.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/AbstractSuppressionAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/CPEAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/UnusedSuppressionRuleAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/xml/suppression/SuppressionRules.java
  core/src/main/resources/META-INF/services/org.owasp.dependencycheck.analyzer.Analyzer
  core/src/test/java/org/owasp/dependencycheck/analyzer/AbstractSuppressionAnalyzerTest.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/CPEAnalyzerIT.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/CpeSuppressionAnalyzerIT.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/VulnerabilitySuppressionAnalyzerIT.java
  core/src/test/java/org/owasp/dependencycheck/reporting/ReportGeneratorIT.java
Labels: tests, core, ant

#4974 Exclude node_modules from Maven's scan path
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
Labels: maven

#4971 Use Afterburner if JRE 8
  core/pom.xml
  core/src/main/java/org/owasp/dependencycheck/data/update/nvd/NvdCveParser.java
Labels: core

#4983 Checkstyle Suggestions
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Check.java
  cli/src/main/java/org/owasp/dependencycheck/CliParser.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/ArchiveAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/DartAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/HintAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/OssIndexAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/PinnedMavenInstallAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/PythonDistributionAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/RubyBundlerAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/RubyGemspecAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/data/nuget/XPathMSBuildProjectParser.java
  core/src/main/java/org/owasp/dependencycheck/reporting/ReportGenerator.java
  core/src/main/java/org/owasp/dependencycheck/utils/PyPACoreMetadataParser.java
  core/src/main/java/org/owasp/dependencycheck/xml/assembly/GrokParser.java
  core/src/main/java/org/owasp/dependencycheck/xml/hints/HintParser.java
  core/src/main/java/org/owasp/dependencycheck/xml/pom/PomParser.java
  core/src/main/java/org/owasp/dependencycheck/xml/suppression/SuppressionParser.java
  src/main/config/checkstyle-checks.xml
  utils/src/main/java/org/owasp/dependencycheck/utils/Settings.java
Labels: cli, core, ant, utils

#4981 Suppress netty-tcnative-boringssl-static vs chromium_project:chromium FP
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#4988 Suppress unnecessary RetireJS analyzer info logging
  core/src/main/java/org/owasp/dependencycheck/analyzer/RetireJsAnalyzer.java
Labels: core

#4997 Fix fn hadoop update
  core/src/main/java/org/owasp/dependencycheck/Engine.java
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/CveDB.java
  core/src/main/java/org/owasp/dependencycheck/data/update/NvdCveUpdater.java
  core/src/main/resources/data/dbEcosystemCacheUpdates.sql
  core/src/main/resources/data/initialize.sql
  core/src/test/java/org/owasp/dependencycheck/data/nvdcve/DatabasePropertiesIT.java
  core/src/test/resources/dependencycheck.properties
  utils/src/test/resources/dependencycheck.properties
Labels: tests, core, utils
