Repository dependency-check/DependencyCheck, pull requests merged in 2023-02, with the labels that each got.

#5408 fix: improve error messages for AssemblyAnalyzer
  core/src/main/java/org/owasp/dependencycheck/analyzer/AssemblyAnalyzer.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/AssemblyAnalyzerTest.java
Labels: tests, core

#5399 fix: correct maven documentation
  maven/src/site/markdown/index.md.vm
Labels: documentation, maven

#5421 fix: bad version string interpolation
  core/src/main/java/org/owasp/dependencycheck/analyzer/JarAnalyzer.java
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
Labels: maven, core

#5415 fix: Fp fixes
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#5438 fix(FP): Fp suppressions too hard for our automation
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#5404 feat: support Pipenv - Pipfile.lock
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  core/src/main/java/org/owasp/dependencycheck/analyzer/PipfileAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/PipfilelockAnalyzer.java
  core/src/main/resources/META-INF/services/org.owasp.dependencycheck.analyzer.Analyzer
  core/src/test/java/org/owasp/dependencycheck/analyzer/PipfilelockAnalyzerTest.java
  core/src/test/resources/pip/Pipfile
  core/src/test/resources/pip/Pipfile.lock
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: tests, maven, cli, core, ant, utils

#5409 fix: ensure pyproject.toml has lock
  core/src/main/java/org/owasp/dependencycheck/analyzer/PoetryAnalyzer.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/PoetryAnalyzerTest.java
  core/src/test/resources/python-myproject-toml/pyproject.toml
Labels: tests, core

#5434 fix: resolve false negative on yii2
  core/src/main/resources/dependencycheck-base-hint.xml
Labels: core

#5441 fix: correctly return update status in KnownExploitedDataSource
  core/src/main/java/org/owasp/dependencycheck/data/update/KnownExploitedDataSource.java
Labels: core

#5442 fix(fp): False Positives on GitPython
  core/src/main/resources/data/dbEcosystemCacheUpdates.sql
Labels: core

#5446 chore: Release 8.1.0
  .github/workflows/release.yml
  CHANGELOG.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#5470 fix: do not throw error if pyproject.toml is in node_modules
  core/src/main/java/org/owasp/dependencycheck/analyzer/PoetryAnalyzer.java
Labels: core

#5479 fix: Node package dependencies ending up as related dependency of the wrong version of the package
  core/src/main/java/org/owasp/dependencycheck/analyzer/NodePackageAnalyzer.java
Labels: core

#5473 fix: Prefer pom.properties G/A/V over pom.xml G/A/V to resolve GAV interpolation issues
  core/src/main/java/org/owasp/dependencycheck/analyzer/JarAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/xml/pom/Model.java
Labels: core

#5487 fix: Erroneous error-log for deprecated CLI flag usage when using properyfile based disablement of Node Audit Analyzer
  cli/src/main/java/org/owasp/dependencycheck/App.java
  cli/src/main/java/org/owasp/dependencycheck/CliParser.java
Labels: cli

#5503 fix(doc): Fix incorrect defaults for nexus- and central-analyzer in gradle plugin documentation
  src/site/markdown/dependency-check-gradle/configuration-aggregate.md
  src/site/markdown/dependency-check-gradle/configuration.md
Labels: documentation

#5504 fix(FP): Several FPs not suitable for our automation
  core/src/main/java/org/owasp/dependencycheck/analyzer/JarAnalyzer.java
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#5509 fix: allow hosted suppressions file to be disabled
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Update.java
  ant/src/site/markdown/config-update.md
  ant/src/site/markdown/configuration.md
  cli/src/main/java/org/owasp/dependencycheck/App.java
  cli/src/main/java/org/owasp/dependencycheck/CliParser.java
  cli/src/main/resources/completion-for-dependency-check.sh
  cli/src/site/markdown/arguments.md
  core/src/main/java/org/owasp/dependencycheck/analyzer/AbstractSuppressionAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/data/update/HostedSuppressionsDataSource.java
  core/src/main/resources/dependencycheck.properties
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  maven/src/site/markdown/configuration.md
  src/site/markdown/dependency-check-gradle/configuration-aggregate.md
  src/site/markdown/dependency-check-gradle/configuration-update.md
  src/site/markdown/dependency-check-gradle/configuration.md
  utils/src/main/java/org/owasp/dependencycheck/utils/Settings.java
Labels: documentation, maven, cli, core, ant, utils

#5510 chore: release 8.1.1
  .github/workflows/release.yml
  CHANGELOG.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#5522 chore: Release 8.1.2
  .github/workflows/release.yml
  CHANGELOG.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils
