Repository dependency-check/DependencyCheck, pull requests merged in 2023-12, with the labels that each got.

#6182 fix: Gitlab report format needs severity capitalized
  core/src/main/resources/templates/gitlabReport.vsl
Labels: core

#6193 fix: some more flaws with gitlab report format
  core/src/main/resources/templates/gitlabReport.vsl
Labels: core

#6208 docs: fix typo in cacheh2.md
  src/site/markdown/data/cacheh2.md
Labels: documentation

#6212 fix: references to cvssv2 and cvssv3 fields in json and xml reports
  core/src/main/resources/templates/jsonReport.vsl
  core/src/main/resources/templates/xmlReport.vsl
Labels: core

#6213 fix: nvd datafeed should process current year
  core/src/main/java/org/owasp/dependencycheck/data/update/NvdApiDataSource.java
Labels: core

#6214 fix: correct snapshot version
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#6224 docs: Update list of supported report formats
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Check.java
  ant/src/site/markdown/configuration.md
  cli/src/main/java/org/owasp/dependencycheck/CliParser.java
  cli/src/site/markdown/arguments.md
  core/src/main/java/org/owasp/dependencycheck/Engine.java
  core/src/main/java/org/owasp/dependencycheck/agent/DependencyCheckScanAgent.java
  core/src/main/java/org/owasp/dependencycheck/reporting/ReportGenerator.java
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  maven/src/site/markdown/configuration.md
  src/site/markdown/dependency-check-gradle/configuration-aggregate.md
  src/site/markdown/dependency-check-gradle/configuration.md
Labels: documentation, maven, cli, core, ant

#6218 fix: correct NVD cache last checked logic
  core/src/main/java/org/owasp/dependencycheck/data/update/NvdApiDataSource.java
Labels: core

#6225 fix: check valid for hours for NVD API
  core/src/main/java/org/owasp/dependencycheck/data/update/NvdApiDataSource.java
Labels: core

#6232 fix: npe
  core/src/main/java/org/owasp/dependencycheck/data/update/NvdApiDataSource.java
Labels: core

#6220 docs: Clarify H2 database caching strategy
  CHANGELOG.md
  cli/src/main/java/org/owasp/dependencycheck/CliParser.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/RetireJsAnalyzer.java
  src/site/markdown/data/cacheh2.md
  src/site/markdown/data/mirrornvd.md
Labels: documentation, cli, core

#6239 chore: release 9.0.3
  .github/workflows/release.yml
  CHANGELOG.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#6245 fix: correct trailing comma in JSON report
  core/src/main/resources/templates/jsonReport.vsl
Labels: core

#6244 fix: use correct maven plugin reporting plugin
  maven/pom.xml
Labels: maven

#6255 fix: utilize maven proxy if present
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
Labels: maven

#6265 docs: correct link to data directory caching guide
  src/site/markdown/data/index.md
Labels: documentation

#6264 fix: use BIT for Oracle DB instead of Boolean
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/CveDB.java
Labels: core

#6269 fix: validate urls are correctly generated
  core/src/main/java/org/owasp/dependencycheck/data/update/NvdApiDataSource.java
  core/src/test/java/org/owasp/dependencycheck/data/update/NvdApiDataSourceTest.java
Labels: tests, core

#6270 fix: use temporary files to reduce memory usage
  core/src/main/java/org/owasp/dependencycheck/data/update/NvdApiDataSource.java
  core/src/main/java/org/owasp/dependencycheck/data/update/nvd/api/DownloadTask.java
  core/src/main/java/org/owasp/dependencycheck/data/update/nvd/api/NvdApiProcessor.java
  utils/src/main/java/org/owasp/dependencycheck/utils/Downloader.java
Labels: core, utils

#6271 fix: store last modified timestamp in db
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/DatabaseProperties.java
  core/src/main/java/org/owasp/dependencycheck/data/update/HostedSuppressionsDataSource.java
  core/src/main/java/org/owasp/dependencycheck/data/update/KnownExploitedDataSource.java
  core/src/main/java/org/owasp/dependencycheck/data/update/RetireJSDataSource.java
Labels: core

#6280 fix: reduce apache http logging
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Purge.java
  cli/src/main/resources/logback.xml
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
Labels: maven, cli, ant

#6285 fix: set correct property for nonProxyHosts
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
Labels: maven

#6282 fix: read meta files if cache.properties does not exist
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/DatabaseProperties.java
  core/src/main/java/org/owasp/dependencycheck/data/update/NvdApiDataSource.java
Labels: core

#6281 fix: synch last modified timestamp for NVD API
  core/src/main/java/org/owasp/dependencycheck/data/update/NvdApiDataSource.java
Labels: core

#6287 fix: make nvd api endpoint configurable
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Purge.java
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Update.java
  ant/src/site/markdown/config-update.md
  ant/src/site/markdown/configuration.md
  cli/src/main/java/org/owasp/dependencycheck/App.java
  cli/src/main/java/org/owasp/dependencycheck/CliParser.java
  cli/src/site/markdown/arguments.md
  core/src/main/java/org/owasp/dependencycheck/data/update/NvdApiDataSource.java
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  maven/src/site/markdown/configuration.md
  src/site/markdown/dependency-check-gradle/configuration-aggregate.md
  src/site/markdown/dependency-check-gradle/configuration-update.md
  src/site/markdown/dependency-check-gradle/configuration.md
  utils/src/main/java/org/owasp/dependencycheck/utils/Settings.java
Labels: documentation, maven, cli, core, ant, utils

#6290 fix(fp): fixes FP #6016
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#6293 build: Release 9.0.5
  .github/workflows/release.yml
  CHANGELOG.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#6275 fix: stream NVD data via Jackson to reduce memory footprint
  core/src/main/java/org/owasp/dependencycheck/data/update/nvd/api/CveApiJson20CveItemSource.java
  core/src/main/java/org/owasp/dependencycheck/data/update/nvd/api/CveItemSource.java
  core/src/main/java/org/owasp/dependencycheck/data/update/nvd/api/JsonArrayCveItemSource.java
  core/src/main/java/org/owasp/dependencycheck/data/update/nvd/api/NvdApiProcessor.java
Labels: core

#6298 fix: Examples using cveValidForHours which no longer exists fixes #6222
  src/site/markdown/dependency-check-gradle/configuration-aggregate.md
  src/site/markdown/dependency-check-gradle/configuration.md
Labels: documentation

#6301 docs: document github action caching
  src/site/markdown/data/cache-action.md
  src/site/markdown/data/index.md
Labels: documentation

#6297 fix: update java version check
  core/src/main/java/org/owasp/dependencycheck/utils/Utils.java
  core/src/test/java/org/owasp/dependencycheck/utils/UtilsTest.java
Labels: tests, core

#6299 fix: more efficient memory usage
  core/src/main/java/org/owasp/dependencycheck/data/update/NvdApiDataSource.java
  utils/src/main/java/org/owasp/dependencycheck/utils/Downloader.java
Labels: core, utils

#6307 fix: mask nvd.api.key in logs
  core/src/main/resources/dependencycheck.properties
  core/src/test/resources/dependencycheck.properties
  utils/src/test/resources/dependencycheck.properties
Labels: tests, core, utils

#6310 build: Release 9.0.6
  CHANGELOG.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#6312 fix: resolve build error
  .github/workflows/build.yml
  .github/workflows/pull_requests.yml
  .github/workflows/release.yml
  utils/src/main/java/org/owasp/dependencycheck/utils/Downloader.java
Labels: utils

#6315 docs: document insecure configuration for GHSA-qqhq-8r2c-c3f5
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
Labels: maven

#6321 fix: improve memory usage on NVD update
  core/src/main/java/org/owasp/dependencycheck/data/update/nvd/api/CveApiJson20CveItemSource.java
  core/src/main/java/org/owasp/dependencycheck/data/update/nvd/api/JsonArrayCveItemSource.java
Labels: core

#6316 fix: skip pyproject.toml unless it contains `tool.poetry`
  core/src/main/java/org/owasp/dependencycheck/analyzer/PoetryAnalyzer.java
Labels: core

#6324 fix: improve error reporting
  core/src/main/java/org/owasp/dependencycheck/data/update/NvdApiDataSource.java
Labels: core

#6326 fix: ensure open handles will not leak on errors
  core/src/main/java/org/owasp/dependencycheck/data/update/nvd/api/CveApiJson20CveItemSource.java
  core/src/main/java/org/owasp/dependencycheck/data/update/nvd/api/JsonArrayCveItemSource.java
  core/src/main/java/org/owasp/dependencycheck/data/update/nvd/api/NvdApiProcessor.java
  core/src/test/java/org/owasp/dependencycheck/data/update/nvd/api/NvdApiProcessorTest.java
Labels: tests, core

#6333 fix: reduce chance NVD API block updates due to rate limit
  ant/src/site/markdown/config-update.md
  ant/src/site/markdown/configuration.md
  cli/src/site/markdown/arguments.md
  core/src/main/java/org/owasp/dependencycheck/data/update/NvdApiDataSource.java
  maven/src/site/markdown/configuration.md
  src/site/markdown/dependency-check-gradle/configuration-aggregate.md
  src/site/markdown/dependency-check-gradle/configuration-update.md
  src/site/markdown/dependency-check-gradle/configuration.md
Labels: documentation, maven, cli, core, ant

#6338 fix: rework fix for closing input streams on errors correctly
  core/src/main/java/org/owasp/dependencycheck/data/update/nvd/api/NvdApiProcessor.java
Labels: core

#6339 fix: improve error reporting for invalid H2 database
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/DatabaseManager.java
Labels: core

#6343 chore: replace some commons-io with core java calls
  core/src/main/java/org/owasp/dependencycheck/Engine.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/AbstractSuppressionAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/ArchiveAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/ArtifactoryAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/AutoconfAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/CMakeAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/CentralAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/CocoaPodsAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/HintAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/LibmanAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/NexusAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/NodeAuditAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/NodePackageAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/OpenSSLAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/PerlCpanfileAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/PipAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/PipfileAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/PipfilelockAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/PnpmAuditAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/PythonPackageAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/RubyGemspecAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/SwiftPackageManagerAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/SwiftPackageResolvedAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/YarnAuditAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/data/golang/GoModDependency.java
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/CveDB.java
  core/src/main/java/org/owasp/dependencycheck/data/update/NvdApiDataSource.java
  core/src/main/java/org/owasp/dependencycheck/processing/BundlerAuditProcessor.java
  core/src/main/java/org/owasp/dependencycheck/reporting/ReportGenerator.java
  core/src/main/java/org/owasp/dependencycheck/utils/ExtractionUtil.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/JarAnalyzerTest.java
  maven/src/it/1512-transitive-test/postbuild.groovy
  maven/src/it/1527-aggregate-updated-dependencies/postbuild.groovy
  maven/src/it/1551-verify-dependency-management/postbuild.groovy
  maven/src/it/1677-dependency-management/postbuild.groovy
  maven/src/it/1751-use-child-repositories/postbuild.groovy
  maven/src/it/3679-classifier-in-dependency/postbuild.groovy
  maven/src/it/3721-metaversion-dependencies/postbuild.groovy
  maven/src/it/3730-classifier-in-dependency-aggregate/postbuild.groovy
  maven/src/it/3944-multimodule-virtual-duplication/postbuild.groovy
  maven/src/it/4397-metaversion-for-transitive-dependency/postbuild.groovy
  maven/src/it/618-aggregator-update-only/postbuild.groovy
  maven/src/it/629-jackson-dataformat/postbuild.groovy
  maven/src/it/690-threadsafety/postbuild.groovy
  maven/src/it/730-multiple-suppression-files-configs/postbuild.groovy
  maven/src/it/740-aggregate/postbuild.groovy
  maven/src/it/artifactory-analyzer/postbuild.groovy
  maven/src/site/markdown/configuration.md
  utils/src/main/java/org/owasp/dependencycheck/utils/FileUtils.java
Labels: core

#6349 fix: favor stability over performance
  core/src/main/java/org/owasp/dependencycheck/data/update/NvdApiDataSource.java
Labels: core
