Repository dependency-check/DependencyCheck, pull requests merged in 2023-11, with the labels that each got.

#6035 docs: Corrected docs on hostedSuppressions
  src/site/markdown/dependency-check-gradle/configuration.md
Labels: documentation

#6072 chore: Release 8.4.3
  .github/workflows/release.yml
  CHANGELOG.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#6076 fix: Use ASCII apostrophe for console message
  core/src/main/java/org/owasp/dependencycheck/Engine.java
Labels: core

#5920 feat: gitlab dependency scanner report format #5919
  core/src/main/java/org/owasp/dependencycheck/reporting/ReportGenerator.java
  core/src/main/java/org/owasp/dependencycheck/reporting/ReportTool.java
  core/src/main/resources/templates/gitlabReport.vsl
Labels: core

#6094 fix: correct import
  core/src/main/java/org/owasp/dependencycheck/analyzer/JarAnalyzer.java
Labels: core

#6096 fix: remove leading slash from data feed prefix
  core/src/main/java/org/owasp/dependencycheck/data/update/NvdApiDataSource.java
Labels: core

#6101 chore: Release 9.0.0
  CHANGELOG.md
  README.md
  SECURITY.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#6109 fix: Use the correct key for NVD API-Key from Maven Settings serverId
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
Labels: maven

#6110 docs: update NVD notice
  README.md
  core/src/main/resources/templates/jsonReport.vsl
  core/src/main/resources/templates/sarifReport.vsl
  core/src/main/resources/templates/xmlReport.vsl
  src/site/markdown/index.md
Labels: documentation, core

#6112 fix: Configure nvd.api.delay default
  core/src/main/java/org/owasp/dependencycheck/data/update/NvdApiDataSource.java
  core/src/main/resources/dependencycheck.properties
Labels: core

#6113 fix: use fake nvd data feed for IT
  maven/src/it/1512-transitive-test/invoker.properties
  maven/src/it/1527-aggregate-updated-dependencies/invoker.properties
  maven/src/it/1551-verify-dependency-management/invoker.properties
  maven/src/it/1677-dependency-management/invoker.properties
  maven/src/it/1751-use-child-repositories/invoker.properties
  maven/src/it/2494-managed-reactor-dependencies/invoker.properties
  maven/src/it/3679-classifier-in-dependency/invoker.properties
  maven/src/it/3721-metaversion-dependencies/invoker.properties
  maven/src/it/3730-classifier-in-dependency-aggregate/invoker.properties
  maven/src/it/3944-multimodule-virtual-duplication/invoker.properties
  maven/src/it/4397-metaversion-for-transitive-dependency/invoker.properties
  maven/src/it/617-hierarchical-cross-deps/invoker.properties
  maven/src/it/618-aggregator-update-only/invoker.properties
  maven/src/it/629-jackson-dataformat/invoker.properties
  maven/src/it/690-threadsafety/invoker.properties
  maven/src/it/710-pom-parse-error/invoker.properties
  maven/src/it/730-multiple-suppression-files-configs/invoker.properties
  maven/src/it/740-aggregate/invoker.properties
  maven/src/it/815-broken-suppression-aggregate/invoker.properties
  maven/src/it/846-site-plugin/invoker.properties
  maven/src/it/artifactory-analyzer/invoker.properties
Labels: tests, maven

#6135 docs: add default values to documentation for the NVD API Delay
  ant/src/site/markdown/config-update.md
  ant/src/site/markdown/configuration.md
  cli/src/site/markdown/arguments.md
  maven/src/site/markdown/configuration.md
  src/site/markdown/dependency-check-gradle/configuration-aggregate.md
  src/site/markdown/dependency-check-gradle/configuration-update.md
  src/site/markdown/dependency-check-gradle/configuration.md
Labels: documentation, maven, cli, ant

#6136 fix: add retry for failed NVD API requests
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Update.java
  ant/src/site/markdown/config-update.md
  ant/src/site/markdown/configuration.md
  cli/src/main/java/org/owasp/dependencycheck/App.java
  cli/src/main/java/org/owasp/dependencycheck/CliParser.java
  cli/src/site/markdown/arguments.md
  core/src/main/java/org/owasp/dependencycheck/data/update/NvdApiDataSource.java
  core/src/main/resources/dependencycheck.properties
  core/src/test/resources/dependencycheck.properties
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  maven/src/site/markdown/configuration.md
  pom.xml
  src/site/markdown/dependency-check-gradle/configuration-aggregate.md
  src/site/markdown/dependency-check-gradle/configuration-update.md
  src/site/markdown/dependency-check-gradle/configuration.md
  utils/src/main/java/org/owasp/dependencycheck/utils/Settings.java
  utils/src/test/resources/dependencycheck.properties
Labels: documentation, tests, maven, cli, core, ant, utils

#6118 fix: check java 8 update version
  README.md
  core/src/main/java/org/owasp/dependencycheck/Engine.java
  core/src/main/java/org/owasp/dependencycheck/utils/Utils.java
Labels: core

#6137 chore: release 9.0.1
  .github/workflows/release.yml
  CHANGELOG.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#6154 fix: correct meta data in report after switching the NVD API
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/DatabaseProperties.java
Labels: core

#6153 fix: mute JCS logging (again)
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Purge.java
  cli/src/main/java/org/owasp/dependencycheck/App.java
  core/src/main/java/org/owasp/dependencycheck/Engine.java
  core/src/test/java/org/owasp/dependencycheck/BaseTest.java
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  pom.xml
Labels: tests, maven, cli, core, ant

#6163 fix: improve update version parsing
  core/src/main/java/org/owasp/dependencycheck/utils/Utils.java
  core/src/test/java/org/owasp/dependencycheck/utils/UtilsTest.java
Labels: tests, core

#6166 fix: Gitlab report broken after NVD api changes
  core/src/main/java/org/owasp/dependencycheck/reporting/ReportTool.java
  core/src/main/resources/templates/gitlabReport.vsl
Labels: core
