Repository dependency-check/DependencyCheck, pull requests merged in 2023-01, with the labels that each got.

#5197 feat: Use template filename for directory target
  core/src/main/java/org/owasp/dependencycheck/reporting/ReportGenerator.java
Labels: core

#5202 fix: add documentation about ossindexAnalyzerUrl parameter
  maven/src/site/markdown/configuration.md
Labels: documentation, maven

#5229 fix: long version of go dependency unable to inserted into software table (CVE-2020-36569)
  archetype/pom.xml
  core/src/main/resources/data/initialize.sql
  core/src/main/resources/data/initialize_mssql.sql
  core/src/main/resources/data/initialize_mysql.sql
  core/src/main/resources/data/initialize_oracle.sql
  core/src/main/resources/data/initialize_postgres.sql
  core/src/main/resources/data/upgrade_5.2.1.sql
  core/src/main/resources/dependencycheck.properties
  core/src/test/java/org/owasp/dependencycheck/data/nvdcve/DatabasePropertiesIT.java
  core/src/test/resources/dependencycheck.properties
  utils/src/test/resources/dependencycheck.properties
Labels: tests, core, utils

#5230 build: Release 7.4.4
  .github/workflows/release.yml
  CHANGELOG.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#5237 fix(FP): Fix #5213 on generic utils project
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#5227 feat: Add "properties.security-severity" to be able to filter and sort by Severity in GitHub Security Code scanning
  core/src/main/resources/templates/sarifReport.vsl
Labels: core

#5209 feat: Allow for HTTP auth settings for Retire JS respository
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Check.java
  cli/src/main/java/org/owasp/dependencycheck/App.java
  cli/src/main/java/org/owasp/dependencycheck/CliParser.java
  cli/src/site/markdown/arguments.md
  core/src/main/java/org/owasp/dependencycheck/data/update/RetireJSDataSource.java
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  maven/src/site/markdown/configuration.md
  utils/src/main/java/org/owasp/dependencycheck/utils/Settings.java
  utils/src/main/java/org/owasp/dependencycheck/utils/URLConnectionFactory.java
  utils/src/test/java/org/owasp/dependencycheck/utils/BaseTest.java
Labels: documentation, tests, maven, cli, core, ant, utils

#5243 style: checkstyle fixup
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Purge.java
Labels: ant

#5264 fix: Updating column lenght to VARCHAR(100) in MSSQL init script
  core/src/main/resources/data/initialize_mssql.sql
Labels: core

#5240 fix(FP): Multiple artifacts wrongly attributed to the Go-lang YAML package CPE
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#5235 fix: crash when analyzing node package with a local dependency
  core/src/main/java/org/owasp/dependencycheck/analyzer/NodePackageAnalyzer.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/NodePackageAnalyzerTest.java
  core/src/test/resources/nodejs/local_package/mypackage/package.json
  core/src/test/resources/nodejs/local_package/node_modules/.package-lock.json
  core/src/test/resources/nodejs/local_package/node_modules/mypackage
  core/src/test/resources/nodejs/local_package/package-lock.json
  core/src/test/resources/nodejs/local_package/package.json
Labels: tests, core

#5266 fix: name calculation
  core/src/main/java/org/owasp/dependencycheck/analyzer/NodePackageAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/data/nodeaudit/NpmPayloadBuilder.java
Labels: core

#5268 fix: update rejected CVEs check
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/CveItemOperator.java
Labels: core

#4895 feat: Add CISA Known Exploited Vulnerability Catalog
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  cli/src/test/resources/sample.properties
  cli/src/test/resources/sample2.properties
  core/pom.xml
  core/src/main/java/org/owasp/dependencycheck/analyzer/JarAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/KnownExploitedVulnerabilityAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/PinnedMavenInstallAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/CveDB.java
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/DatabaseProperties.java
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/H2Functions.java
  core/src/main/java/org/owasp/dependencycheck/data/update/KnownExploitedDataSource.java
  core/src/main/java/org/owasp/dependencycheck/data/update/cisa/KnownExploitedVulnerabilityParser.java
  core/src/main/java/org/owasp/dependencycheck/data/update/cisa/package-info.java
  core/src/main/java/org/owasp/dependencycheck/data/update/nvd/NvdCveParser.java
  core/src/main/java/org/owasp/dependencycheck/dependency/Dependency.java
  core/src/main/java/org/owasp/dependencycheck/dependency/Vulnerability.java
  core/src/main/java/org/owasp/dependencycheck/reporting/ReportTool.java
  core/src/main/java/org/owasp/dependencycheck/utils/Utils.java
  core/src/main/resources/META-INF/services/org.owasp.dependencycheck.analyzer.Analyzer
  core/src/main/resources/META-INF/services/org.owasp.dependencycheck.data.update.CachedWebDataSource
  core/src/main/resources/data/dbStatements.properties
  core/src/main/resources/data/dbStatements_mariadb.properties
  core/src/main/resources/data/dbStatements_microsoft sql server.properties
  core/src/main/resources/data/dbStatements_mysql.properties
  core/src/main/resources/data/dbStatements_oracle.properties
  core/src/main/resources/data/dbStatements_postgresql.properties
  core/src/main/resources/data/initialize.sql
  core/src/main/resources/data/initialize_mssql.sql
  core/src/main/resources/data/initialize_mysql.sql
  core/src/main/resources/data/initialize_oracle.sql
  core/src/main/resources/data/initialize_postgres.sql
  core/src/main/resources/data/upgrade_5.2.1.sql
  core/src/main/resources/data/upgrade_5.3.sql
  core/src/main/resources/dependencycheck.properties
  core/src/main/resources/schema/dependency-check.3.0.xsd
  core/src/main/resources/schema/external/cisa/known_exploited_vulnerabilities_schema.json
  core/src/main/resources/schema/external/cpe/cpe-dictionary_2.2.xsd
  core/src/main/resources/schema/external/nvd/CVE_JSON_4.0_min_1.1.schema
  core/src/main/resources/schema/external/nvd/cvss-v2.0.json
  core/src/main/resources/schema/external/nvd/cvss-v3.x.json
  core/src/main/resources/schema/external/nvd/nvd_cve_feed_json_1.1.schema
  core/src/main/resources/templates/csvReport.vsl
  core/src/main/resources/templates/htmlReport.vsl
  core/src/main/resources/templates/jsonReport.vsl
  core/src/main/resources/templates/sarifReport.vsl
  core/src/main/resources/templates/xmlReport.vsl
  core/src/test/java/org/owasp/dependencycheck/data/update/cisa/KnownExploitedVulnerabilityParserTest.java
  core/src/test/java/org/owasp/dependencycheck/reporting/ReportGeneratorIT.java
  core/src/test/resources/dependencycheck.properties
  core/src/test/resources/update/cisa/known_exploited_vulnerabilities.json
  maven/pom.xml
  pom.xml
  utils/pom.xml
  utils/src/main/java/org/owasp/dependencycheck/utils/Settings.java
  utils/src/test/resources/dependencycheck.properties
Labels: tests, cli, core, ant

#5001 feat: Scan Maven Plugins
  core/src/main/java/org/owasp/dependencycheck/analyzer/DependencyBundlingAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/dependency/Dependency.java
  core/src/main/java/org/owasp/dependencycheck/dependency/IncludedByReference.java
  core/src/main/resources/schema/dependency-check.2.5.xsd
  core/src/main/resources/templates/htmlReport.vsl
  core/src/main/resources/templates/jenkinsReport.vsl
  core/src/main/resources/templates/jsonReport.vsl
  core/src/main/resources/templates/xmlReport.vsl
  maven/src/main/java/org/owasp/dependencycheck/maven/AggregateMojo.java
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  maven/src/main/java/org/owasp/dependencycheck/maven/CheckMojo.java
  maven/src/main/java/org/owasp/dependencycheck/maven/CollectingRootDependencyGraphVisitor.java
  maven/src/main/java/org/owasp/dependencycheck/maven/PurgeMojo.java
  maven/src/main/java/org/owasp/dependencycheck/maven/UpdateMojo.java
  maven/src/site/markdown/configuration.md
  maven/src/test/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojoTest.java
  src/site/markdown/dependency-check-gradle/configuration-aggregate.md
  src/site/markdown/dependency-check-gradle/configuration.md
Labels: documentation, tests, maven, cli, core, ant, utils

#4511 fix: Use exit codes between 0 and 255 (inclusive)
  cli/src/main/java/org/owasp/dependencycheck/App.java
Labels: cli

#4901 feat: Use hosted suppressions
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Purge.java
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Update.java
  ant/src/site/markdown/config-purge.md
  ant/src/site/markdown/config-update.md
  ant/src/site/markdown/configuration.md
  cli/src/main/java/org/owasp/dependencycheck/App.java
  cli/src/main/java/org/owasp/dependencycheck/CliParser.java
  cli/src/site/markdown/arguments.md
  core/src/main/java/org/owasp/dependencycheck/analyzer/AbstractSuppressionAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/data/update/HostedSuppressionsDataSource.java
  core/src/main/resources/META-INF/services/org.owasp.dependencycheck.data.update.CachedWebDataSource
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  maven/src/site/markdown/configuration.md
  src/site/markdown/data/index.md
  src/site/markdown/dependency-check-gradle/configuration.md
  utils/src/main/java/org/owasp/dependencycheck/utils/HttpResourceConnection.java
  utils/src/main/java/org/owasp/dependencycheck/utils/Settings.java
Labels: documentation, maven, cli, core, ant, utils

#5274 docs: update documentation for hostd suppressions
  src/site/markdown/dependency-check-gradle/configuration-aggregate.md
Labels: documentation

#5273 fix: add configuration option for KEV
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Check.java
  ant/src/site/markdown/configuration.md
  cli/src/main/java/org/owasp/dependencycheck/App.java
  cli/src/main/java/org/owasp/dependencycheck/CliParser.java
  cli/src/site/markdown/arguments.md
  core/src/main/java/org/owasp/dependencycheck/data/update/KnownExploitedDataSource.java
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  maven/src/site/markdown/configuration.md
  src/site/markdown/dependency-check-gradle/configuration-aggregate.md
  src/site/markdown/dependency-check-gradle/configuration.md
Labels: documentation, maven, cli, core, ant

#5293 fix(partial): Issue #5144 Avoid NPE on non-Include packageReference
  core/src/main/java/org/owasp/dependencycheck/data/nuget/XPathMSBuildProjectParser.java
Labels: core

#5302 fix: add missing args to completion
  cli/src/main/resources/completion-for-dependency-check.sh
Labels: cli

#5300 fix: disable OSS Index Analyzer when transport errors occur
  core/src/main/java/org/owasp/dependencycheck/analyzer/OssIndexAnalyzer.java
  src/site/markdown/dependency-check-gradle/configuration-aggregate.md
  src/site/markdown/dependency-check-gradle/configuration.md
Labels: documentation, core

#5301 fix: add CISA Known Exploited Vulnerability Catalog to report credits
  core/src/main/resources/templates/htmlReport.vsl
  core/src/main/resources/templates/jenkinsReport.vsl
  core/src/main/resources/templates/jsonReport.vsl
  core/src/main/resources/templates/sarifReport.vsl
Labels: core

#5303 fix: Add hosted suppressions args to completion, fixup CLI documentation of args
  cli/src/main/resources/completion-for-dependency-check.sh
  cli/src/site/markdown/arguments.md
Labels: documentation, cli

#5299 docs: updates for 8.0.0
  README.md
  SECURITY.md
  src/site/markdown/data/index.md
Labels: documentation

#5304 build: Release 8.0.0
  .github/workflows/release.yml
  CHANGELOG.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  core/src/main/resources/dependencycheck-base-suppression.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#5314 fix: correct typos and sql syntax
  core/src/main/resources/data/initialize_mssql.sql
  core/src/main/resources/data/initialize_mysql.sql
  core/src/main/resources/data/initialize_oracle.sql
  core/src/main/resources/data/initialize_postgres.sql
Labels: core

#5317 fix: merge_knownexploited is expected to be a procedure using PostgreSQL
  core/src/main/resources/data/initialize_postgres.sql
Labels: core

#5332 fix: remove duplicate entries for CISA
  core/src/main/resources/templates/htmlReport.vsl
  core/src/main/resources/templates/jsonReport.vsl
  core/src/main/resources/templates/sarifReport.vsl
Labels: core

#5339 fix: npe
  core/src/main/java/org/owasp/dependencycheck/analyzer/NodePackageAnalyzer.java
Labels: core

#5340 build: release 8.0.1
  .github/workflows/release.yml
  CHANGELOG.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#5345 fix: Add double quote for "properties.security-severity" to fix processing of SARIF file in GitHub
  core/src/main/resources/templates/sarifReport.vsl
Labels: core

#5351 fix: add missing setting configuration for cli
  cli/src/main/java/org/owasp/dependencycheck/App.java
Labels: cli

#5362 fix(partial): Issue #5144 Avoid NPE on non-Include packageReference
  core/src/main/java/org/owasp/dependencycheck/data/nuget/XPathMSBuildProjectParser.java
Labels: core

#5350 fix: reduce log size
  core/src/main/java/org/owasp/dependencycheck/analyzer/CPEAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/DependencyBundlingAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/data/central/CentralSearch.java
  core/src/main/java/org/owasp/dependencycheck/data/nodeaudit/NodeAuditSearch.java
Labels: core

#5363 chore: add sarif validation
  .github/workflows/build.yml
  .github/workflows/pull_requests.yml
  core/src/main/resources/templates/sarifReport.vsl
Labels: core

#5364 fix: update CSV duplicate description column
  core/src/main/resources/templates/csvReport.vsl
Labels: core

#5365 fix: Fp java grpc prometheus
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#5371 fix: ArchiveAnalyzer should throw AnalysisException
  core/src/main/java/org/owasp/dependencycheck/analyzer/ArchiveAnalyzer.java
Labels: core

#5366 fix: Support maven extensions like Tycho adding system-scoped dependencies without a systemPath
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
Labels: maven

#5390 fix: npe
  core/src/main/java/org/owasp/dependencycheck/data/nodeaudit/NpmPayloadBuilder.java
Labels: core

#5393 build: Release 8.0.2
  .github/workflows/release.yml
  CHANGELOG.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils
