Repository dependency-check/DependencyCheck, pull requests merged in 2023-10, with the labels that each got.

#5900 fix: Do not filter out evidences added by hints
  core/src/main/java/org/owasp/dependencycheck/analyzer/HintAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/VersionFilterAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/dependency/Evidence.java
  core/src/main/java/org/owasp/dependencycheck/xml/hints/HintRule.java
  core/src/main/resources/dependencycheck-base-hint.xml
  core/src/test/java/org/owasp/dependencycheck/analyzer/HintAnalyzerTest.java
Labels: tests, core

#5902 fix: Support ~= version specifier in requirements.txt and pipfile
  core/src/main/java/org/owasp/dependencycheck/analyzer/PipAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/PipfileAnalyzer.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/PipAnalyzerTest.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/PipfileAnalyzerTest.java
  src/test/resources/Pipfile
  src/test/resources/requirements.txt
Labels: tests, core

#5114 fix: upgrade to JCS3
  ant/pom.xml
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Purge.java
  cli/src/main/java/org/owasp/dependencycheck/App.java
  cli/src/main/resources/logback.xml
  core/pom.xml
  core/src/main/java/org/owasp/dependencycheck/Engine.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/CentralAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/data/cache/DataCache.java
  core/src/main/java/org/owasp/dependencycheck/data/cache/DataCacheFactory.java
  core/src/main/java/org/owasp/dependencycheck/data/central/CentralSearch.java
  core/src/main/java/org/owasp/dependencycheck/data/nodeaudit/NodeAuditSearch.java
  core/src/main/resources/dependencycheck-cache.properties
  core/src/test/java/org/owasp/dependencycheck/BaseTest.java
  core/src/test/resources/logback-test.xml
  maven/pom.xml
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  pom.xml
Labels: tests, maven, cli, core, ant

#6000 chore: Release 8.4.1
  .github/workflows/release.yml
  CHANGELOG.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#6002 fix: correct log configuration
  cli/src/main/resources/logback.xml
Labels: cli

#6003 chore: Release 8.4.2
  .github/dependabot.yml
  .github/workflows/release.yml
  CHANGELOG.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils
