Repository dependency-check/DependencyCheck, pull requests merged in 2023-04, with the labels that each got.

#5660 docs: keyserver documentation
  ant/src/site/markdown/index.md.vm
  cli/src/site/markdown/index.md.vm
Labels: documentation, cli, ant

#5652 feat: add LibmanAnalyzer
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Check.java
  ant/src/site/markdown/configuration.md
  core/src/main/java/org/owasp/dependencycheck/analyzer/LibmanAnalyzer.java
  core/src/main/resources/META-INF/services/org.owasp.dependencycheck.analyzer.Analyzer
  core/src/main/resources/dependencycheck.properties
  core/src/test/java/org/owasp/dependencycheck/analyzer/LibmanAnalyzerTest.java
  core/src/test/resources/dependencycheck.properties
  core/src/test/resources/libman/libman.json
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  maven/src/site/markdown/configuration.md
  utils/src/main/java/org/owasp/dependencycheck/utils/Settings.java
  utils/src/test/resources/dependencycheck.properties
Labels: documentation, tests, maven, core, ant, utils

#5667 fix: Make Central URL configurable via CLI
  cli/src/main/java/org/owasp/dependencycheck/App.java
  cli/src/main/java/org/owasp/dependencycheck/CliParser.java
  cli/src/site/markdown/arguments.md
  core/src/main/java/org/owasp/dependencycheck/data/central/CentralSearch.java
Labels: documentation, cli, core
