Repository dependency-check/DependencyCheck, pull requests merged in 2023-03, with the labels that each got.

#5557 fix: casing issue in SQL
  core/src/main/resources/data/dbStatements.properties
Labels: core

#5565 docs: Update arguments.md
  cli/src/site/markdown/arguments.md
Labels: documentation, cli

#5546 fix: Fix several issues on NPM Audit reporting
  core/src/main/java/org/owasp/dependencycheck/analyzer/AbstractNpmAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/data/nodeaudit/Advisory.java
  core/src/main/java/org/owasp/dependencycheck/data/nodeaudit/NpmAuditParser.java
  core/src/main/java/org/owasp/dependencycheck/dependency/CvssV3.java
  core/src/main/resources/templates/htmlReport.vsl
  core/src/main/resources/templates/jenkinsReport.vsl
  core/src/main/resources/templates/jsonReport.vsl
  core/src/main/resources/templates/sarifReport.vsl
  core/src/main/resources/templates/xmlReport.vsl
Labels: core

#5576 chore: Release 8.2.0
  .github/workflows/release.yml
  CHANGELOG.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#5582 fix: Use `https://` URLs in report templates
  core/src/main/resources/templates/htmlReport.vsl
  core/src/main/resources/templates/jenkinsReport.vsl
  core/src/main/resources/templates/jsonReport.vsl
  core/src/main/resources/templates/sarifReport.vsl
Labels: core

#5590 fix: SQL Syntax for Oracle
  core/src/main/resources/data/dbEcosystemCacheUpdates.sql
Labels: core

#5589 fix: NullPointerException in MSBuildAnalyzer
  core/src/main/java/org/owasp/dependencycheck/analyzer/MSBuildProjectAnalyzer.java
Labels: core

#5602 fix: ensure support of CVSSv3.1
  core/src/main/java/org/owasp/dependencycheck/analyzer/OssIndexAnalyzer.java
Labels: core

#5599 fix: false negative on itext
  core/src/main/resources/dependencycheck-base-hint.xml
Labels: core

#5620 feat: Add link to suppressed vulnerabilities header in HTML report
  core/src/main/resources/templates/htmlReport.vsl
Labels: core

#5619 feat: Update HTML report Dependencies header based on display settings
  core/src/main/resources/templates/htmlReport.vsl
Labels: core
