Repository dependency-check/DependencyCheck, pull requests merged in 2024-06, with the labels that each got.

#6705 fix: #6688 Trim version number when parsin POM
  core/src/main/java/org/owasp/dependencycheck/xml/pom/PomHandler.java
  core/src/test/java/org/owasp/dependencycheck/xml/pom/PomUtilsTest.java
  core/src/test/resources/pom/pom-with-new-line.xml
Labels: tests, core

#6749 fix: avoid escaping unnecessary chars in HTML report suppression regexes
  core/src/main/resources/templates/htmlReport.vsl
Labels: core

#6580 feat: upgrade to dotnet 8.0
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/false-positive-ops.yml
  .github/workflows/pull_requests.yml
  .github/workflows/release.yml
  Dockerfile
  README.md
  core/src/main/java/org/owasp/dependencycheck/analyzer/AssemblyAnalyzer.java
  core/src/main/resources/GrokAssembly.zip
  core/src/test/java/org/owasp/dependencycheck/analyzer/AssemblyAnalyzerTest.java
  src/site/markdown/analyzers/assembly-analyzer.md
  src/site/markdown/analyzers/index.md
Labels: documentation, tests, core
