Repository dependency-check/DependencyCheck, pull requests merged in 2024-07, with the labels that each got.

#6756 feat: add cvssV4 support
  README.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  core/src/main/java/org/owasp/dependencycheck/data/nodeaudit/NpmAuditParser.java
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/CveDB.java
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/H2Functions.java
  core/src/main/java/org/owasp/dependencycheck/dependency/Vulnerability.java
  core/src/main/resources/data/dbStatements.properties
  core/src/main/resources/data/dbStatements_h2.properties
  core/src/main/resources/data/dbStatements_microsoft sql server.properties
  core/src/main/resources/data/dbStatements_oracle.properties
  core/src/main/resources/data/dbStatements_postgresql.properties
  core/src/main/resources/data/initialize.sql
  core/src/main/resources/data/initialize_mssql.sql
  core/src/main/resources/data/initialize_mysql.sql
  core/src/main/resources/data/initialize_oracle.sql
  core/src/main/resources/data/initialize_postgres.sql
  core/src/main/resources/data/upgrade_5.4.sql
  core/src/main/resources/dependencycheck.properties
  core/src/test/resources/dependencycheck.properties
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: tests, maven, cli, core, ant, utils

#6759 build: Release 10.0.0
  CHANGELOG.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#6761 fix: Fix column name and version
  core/src/main/resources/data/initialize_mssql.sql
Labels: core

#6770 fix: remove debug logging
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/CveDB.java
Labels: core

#6772 build(deps): bump open-vulnerability-client
  core/src/test/java/org/owasp/dependencycheck/data/nvd/ecosystem/CveEcosystemMapperTest.java
  core/src/test/java/org/owasp/dependencycheck/data/nvd/ecosystem/DescriptionEcosystemMapperTest.java
  core/src/test/java/org/owasp/dependencycheck/data/nvd/ecosystem/UrlEcosystemMapperTest.java
  pom.xml
Labels: tests, core

#6773 fix: postgresql error
  core/src/main/resources/data/dbStatements_postgresql.properties
Labels: core

#6774 build: Release 10.0.1
  CHANGELOG.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#6776 fix: correct mysql init script
  core/src/main/resources/data/initialize_mysql.sql
Labels: core

#6777 fix: column width for mysql and postgres
  core/src/main/resources/data/initialize_mysql.sql
  core/src/main/resources/data/initialize_postgres.sql
Labels: core

#6779 fix: correct oracle and postgres schema versions when bootstrapped
  core/src/main/resources/data/initialize_oracle.sql
  core/src/main/resources/data/initialize_postgres.sql
Labels: core

#6794 chore: update configure
  core/src/test/resources/autoconf/binutils/configure
Labels: tests, core

#6802 fix: add hint to resolve false negative
  core/src/main/resources/dependencycheck-base-hint.xml
Labels: core

#6803 fix: update_vulnerability in dbStatements_oracle.properties
  core/src/main/resources/data/dbStatements_oracle.properties
Labels: core

#6804 docs: Further improve formatting and docs of H2 database caching strats
  src/site/markdown/data/cacheh2.md
Labels: documentation

#6807 fix(db): #6788 removing redundant db index "idxVulnerability" on "vulnerability.cve"
  core/src/main/resources/data/initialize_mssql.sql
  core/src/main/resources/data/initialize_mysql.sql
  core/src/main/resources/data/initialize_postgres.sql
Labels: core

#6811 build: Release 10.0.2
  CHANGELOG.md
  README.md
  SECURITY.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#6843 feat: Enable configuration of a lower resultsPerPage on NVD API
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Update.java
  ant/src/site/markdown/config-update.md
  ant/src/site/markdown/configuration.md
  cli/src/main/java/org/owasp/dependencycheck/App.java
  cli/src/main/java/org/owasp/dependencycheck/CliParser.java
  cli/src/site/markdown/arguments.md
  core/src/main/java/org/owasp/dependencycheck/data/update/NvdApiDataSource.java
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  maven/src/site/markdown/configuration.md
  src/site/markdown/dependency-check-gradle/configuration-aggregate.md
  src/site/markdown/dependency-check-gradle/configuration-update.md
  src/site/markdown/dependency-check-gradle/configuration.md
  utils/src/main/java/org/owasp/dependencycheck/utils/Settings.java
Labels: documentation, maven, cli, core, ant, utils

#6849 build: release 10.0.3
  CHANGELOG.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#6860 docs: remove old recommendation
  cli/src/site/markdown/arguments.md
Labels: documentation, cli

#6868 fix: correct percentage calculation
  core/src/main/java/org/owasp/dependencycheck/data/update/NvdApiDataSource.java
Labels: core

#6867 fix: skip blank lines in requirements.txt
  core/src/main/java/org/owasp/dependencycheck/analyzer/PipAnalyzer.java
  src/test/resources/requirements.txt
Labels: core
