Repository dependency-check/DependencyCheck, pull requests merged in 2024-05, with the labels that each got.

#6614 feat: Carthage analyzer
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Check.java
  ant/src/site/markdown/configuration.md
  cli/src/main/java/org/owasp/dependencycheck/App.java
  cli/src/main/java/org/owasp/dependencycheck/CliParser.java
  cli/src/main/resources/completion-for-dependency-check.sh
  cli/src/site/markdown/arguments.md
  cli/src/test/resources/sample.properties
  cli/src/test/resources/sample2.properties
  core/src/main/java/org/owasp/dependencycheck/analyzer/AnalysisPhase.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/CarthageAnalyzer.java
  core/src/main/resources/META-INF/services/org.owasp.dependencycheck.analyzer.Analyzer
  core/src/main/resources/dependencycheck.properties
  core/src/test/java/org/owasp/dependencycheck/analyzer/SwiftAnalyzersTest.java
  core/src/test/resources/dependencycheck.properties
  core/src/test/resources/swift/carthage/Cartfile.resolved
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  maven/src/site/markdown/configuration.md
  src/site/markdown/analyzers/carthage.md
  src/site/markdown/analyzers/index.md
  src/site/markdown/dependency-check-gradle/configuration-aggregate.md
  src/site/markdown/dependency-check-gradle/configuration.md
  src/site/site.xml
  utils/src/main/java/org/owasp/dependencycheck/utils/Settings.java
  utils/src/test/resources/dependencycheck.properties
Labels: documentation, tests, maven, cli, core, ant, utils

#6646 build(deps): bump maven-plugin-plugin
  maven/pom.xml
Labels: maven

#6660 docs: update logo per intellj
  src/site/resources/images/logos/logo_intellij_idea.png
Labels: documentation

#6668 build: Release 9.2.0
  CHANGELOG.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#6681 fix: skip pyproject.toml unless it contains `tool.poetry` before ensuring lockfiles
  core/src/main/java/org/owasp/dependencycheck/analyzer/PoetryAnalyzer.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/PoetryAnalyzerTest.java
  core/src/test/resources/python-poetry-toml/pyproject.toml
Labels: tests, core

#6690 fix: change request if lockfile is file v3
  core/src/main/java/org/owasp/dependencycheck/data/nodeaudit/NpmPayloadBuilder.java
Labels: core
