Repository dependency-check/DependencyCheck, pull requests merged in 2024-09, with the labels that each got.

#6939 build: release 10.0.4
  CHANGELOG.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#6941 fix: Spelling in arguments.md
  cli/src/site/markdown/arguments.md
Labels: documentation, cli

#6936 fix: store timestamps locally for local resources
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/DatabaseProperties.java
  core/src/main/java/org/owasp/dependencycheck/data/update/HostedSuppressionsDataSource.java
  core/src/main/java/org/owasp/dependencycheck/data/update/KnownExploitedDataSource.java
  core/src/main/java/org/owasp/dependencycheck/data/update/LocalDataSource.java
  core/src/main/java/org/owasp/dependencycheck/data/update/RetireJSDataSource.java
Labels: core

#6938 feat: Remove the need to specify dbDriver for external databases using JDBCv4 ServiceLoader supporting JDBC drivers
  ant/src/site/markdown/config-update.md
  ant/src/site/markdown/configuration.md
  cli/src/site/markdown/arguments.md
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/DatabaseManager.java
  core/src/main/resources/dependencycheck.properties
  maven/src/site/markdown/configuration.md
  src/site/markdown/data/database.md.vm
  src/site/markdown/dependency-check-gradle/configuration-aggregate.md
  src/site/markdown/dependency-check-gradle/configuration-update.md
  src/site/markdown/dependency-check-gradle/configuration.md
Labels: documentation, maven, cli, core, ant

#6932 build(deps): Update minimum version of Maven to 3.6.3
  maven/pom.xml
  pom.xml
Labels: maven

#6922 build: Switch from JMockit to Mockito & build target to Java 11
  .github/workflows/build.yml
  .github/workflows/coverity.yml
  .github/workflows/pull_requests.yml
  .github/workflows/release.yml
  README.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  core/src/test/java/org/owasp/dependencycheck/AnalysisTaskTest.java
  core/src/test/java/org/owasp/dependencycheck/EngineIT.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/CentralAnalyzerTest.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/DependencyBundlingAnalyzerTest.java
  core/src/test/java/org/owasp/dependencycheck/data/update/EngineVersionCheckTest.java
  maven/pom.xml
  maven/src/test/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojoTest.java
  pom.xml
  utils/pom.xml
Labels: tests, maven, cli, core, ant, utils

#6955 build(deps): Update to Lucene 9.x
  core/pom.xml
  core/src/test/java/org/owasp/dependencycheck/analyzer/ArchiveAnalyzerTest.java
  core/src/test/java/org/owasp/dependencycheck/data/lucene/AlphaNumericFilterTest.java
  core/src/test/java/org/owasp/dependencycheck/data/lucene/TokenPairConcatenatingFilterTest.java
  core/src/test/java/org/owasp/dependencycheck/data/lucene/UrlTokenizingFilterTest.java
  pom.xml
Labels: tests, core

#6949 feat: Use Apache HTTPClient for downloads of public resources
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Check.java
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Purge.java
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Update.java
  cli/src/main/java/org/owasp/dependencycheck/App.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/AbstractSuppressionAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/ArtifactoryAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/CentralAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/HintAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/NexusAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/data/central/CentralSearch.java
  core/src/main/java/org/owasp/dependencycheck/data/nodeaudit/NodeAuditSearch.java
  core/src/main/java/org/owasp/dependencycheck/data/ossindex/ODCConnectionTransport.java
  core/src/main/java/org/owasp/dependencycheck/data/ossindex/OssindexClientFactory.java
  core/src/main/java/org/owasp/dependencycheck/data/update/EngineVersionCheck.java
  core/src/main/java/org/owasp/dependencycheck/data/update/HostedSuppressionsDataSource.java
  core/src/main/java/org/owasp/dependencycheck/data/update/KnownExploitedDataSource.java
  core/src/main/java/org/owasp/dependencycheck/data/update/NvdApiDataSource.java
  core/src/main/java/org/owasp/dependencycheck/data/update/RetireJSDataSource.java
  core/src/main/java/org/owasp/dependencycheck/data/update/nvd/api/DownloadTask.java
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  maven/src/main/java/org/owasp/dependencycheck/maven/PurgeMojo.java
  pom.xml
  src/test/manual-test-proxy-auth/Readme.md
  src/test/manual-test-proxy-auth/debian.conf.override
  src/test/manual-test-proxy-auth/squid-auth-for-localnet.conf
  src/test/manual-test-proxy-auth/start-docker-squidproxy-with-auth
  src/test/manual-test-proxy-auth/stop-docker-squidproxy-with-auth
  src/test/manual-test-proxy-auth/user-proxy-passwd-insecure
  utils/pom.xml
  utils/src/main/java/org/owasp/dependencycheck/utils/Downloader.java
  utils/src/main/java/org/owasp/dependencycheck/utils/ExplicitEncodingToStringResponseHandler.java
  utils/src/main/java/org/owasp/dependencycheck/utils/HttpResourceConnection.java
  utils/src/main/java/org/owasp/dependencycheck/utils/SaveToFileResponseHandler.java
  utils/src/main/java/org/owasp/dependencycheck/utils/Settings.java
  utils/src/test/java/org/owasp/dependencycheck/utils/DownloaderIT.java
  utils/src/test/java/org/owasp/dependencycheck/utils/HttpResourceConnectionTest.java
Labels: tests, maven, cli, core, ant, utils

#6995 chore(docs): Fixup javadoc warnings
  core/src/main/java/org/owasp/dependencycheck/data/lucene/AlphaNumericFilter.java
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/DatabaseProperties.java
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/H2Functions.java
  core/src/main/java/org/owasp/dependencycheck/data/update/NvdApiDataSource.java
  core/src/main/java/org/owasp/dependencycheck/utils/PyPACoreMetadataParser.java
  core/src/main/java/org/owasp/dependencycheck/utils/SeverityUtil.java
  core/src/main/java/org/owasp/dependencycheck/xml/pom/Model.java
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  pom.xml
  utils/src/main/java/org/owasp/dependencycheck/utils/Downloader.java
  utils/src/main/java/org/owasp/dependencycheck/utils/ExplicitEncodingToStringResponseHandler.java
Labels: maven, core, utils
