Repository dependency-check/DependencyCheck, pull requests merged in 2024-08, with the labels that each got.

#6883 fix: Correct spelling of occurring in NvdApiDataSource.java
  core/src/main/java/org/owasp/dependencycheck/data/update/NvdApiDataSource.java
Labels: core

#6899 fix: do not report over 100% download complete
  core/src/main/java/org/owasp/dependencycheck/data/update/NvdApiDataSource.java
Labels: core

#6914 fix(site): Update Fluido skin to resolve broken fork-me-on-github image
  src/site/site.xml
Labels: documentation

#6915 fix: correctly handle null values in cpeMatch
  core/pom.xml
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/CveItemOperator.java
  core/src/test/java/org/owasp/dependencycheck/data/nvdcve/CveItemOperatorTest.java
Labels: tests, core

#6918 chore: additional tests
  core/src/test/java/org/owasp/dependencycheck/data/nvdcve/CveItemOperatorTest.java
Labels: tests, core

#6917 fix: improve regex
  core/src/main/java/org/owasp/dependencycheck/utils/DependencyVersion.java
Labels: core
