Repository dependency-check/DependencyCheck, pull requests merged in 2024-04, with the labels that each got.

#6567 chore: Update the packaged suppressions to include new hosted suppressions
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#6578 feat: Support Package.swift version 3 Specification
  core/src/main/java/org/owasp/dependencycheck/analyzer/SwiftPackageResolvedAnalyzer.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/SwiftAnalyzersTest.java
  core/src/test/resources/swift/spmV3/Package.resolved
Labels: tests, core

#6586 build: bump version for new feature
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#6630 fix: Ensure valid JSON output for gitlab report
  core/src/main/resources/templates/gitlabReport.vsl
Labels: core
