Repository dependency-check/DependencyCheck, pull requests merged in 2024-12, with the labels that each got.

#7169 fix: 7093 add username/password properties to be able to authenticate for central.content.url and analyzer.central.url again
  cli/src/main/java/org/owasp/dependencycheck/App.java
  cli/src/main/java/org/owasp/dependencycheck/CliParser.java
  cli/src/site/markdown/arguments.md
  utils/src/main/java/org/owasp/dependencycheck/utils/Downloader.java
  utils/src/main/java/org/owasp/dependencycheck/utils/Settings.java
Labels: documentation, cli, utils

#7221 build: release 11.1.1
  CHANGELOG.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#7222 fix: Tranform into UTC the last modified date from database
  core/src/main/java/org/owasp/dependencycheck/data/update/NvdApiDataSource.java
Labels: core

#7224 feat: show from which dependency the CVE comes in failure report
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Check.java
  cli/src/main/java/org/owasp/dependencycheck/App.java
  core/src/main/java/org/owasp/dependencycheck/agent/DependencyCheckScanAgent.java
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
Labels: maven, cli, core, ant

#7204 feat: report on CVSS v4
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Check.java
  cli/src/main/java/org/owasp/dependencycheck/App.java
  core/src/main/java/org/owasp/dependencycheck/agent/DependencyCheckScanAgent.java
  core/src/main/java/org/owasp/dependencycheck/dependency/Vulnerability.java
  core/src/main/java/org/owasp/dependencycheck/reporting/ReportTool.java
  core/src/main/java/org/owasp/dependencycheck/reporting/SarifRule.java
  core/src/main/java/org/owasp/dependencycheck/xml/suppression/SuppressionRule.java
  core/src/main/resources/schema/dependency-check.4.1.xsd
  core/src/main/resources/templates/csvReport.vsl
  core/src/main/resources/templates/gitlabReport.vsl
  core/src/main/resources/templates/htmlReport.vsl
  core/src/main/resources/templates/jenkinsReport.vsl
  core/src/main/resources/templates/jsonReport.vsl
  core/src/main/resources/templates/junitReport.vsl
  core/src/main/resources/templates/sarifReport.vsl
  core/src/main/resources/templates/xmlReport.vsl
  core/src/test/java/org/owasp/dependencycheck/reporting/ReportGeneratorIT.java
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
Labels: tests, maven, cli, core, ant

#7252 fix: increase max retry count
  core/src/main/resources/dependencycheck.properties
  core/src/test/resources/dependencycheck.properties
  utils/src/test/resources/dependencycheck.properties
Labels: tests, core, utils

#7261 docs: Clarify OSS index credentials
  cli/src/site/markdown/arguments.md
  maven/src/site/markdown/configuration.md
  src/site/markdown/dependency-check-gradle/configuration-aggregate.md
Labels: documentation, maven, cli

#7244 feat: Add a flag to fail when one or more suppression rules are not used
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Check.java
  ant/src/site/markdown/configuration.md
  core/src/main/java/org/owasp/dependencycheck/agent/DependencyCheckScanAgent.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/UnusedSuppressionRuleAnalyzer.java
  core/src/main/resources/dependencycheck.properties
  core/src/test/java/org/owasp/dependencycheck/analyzer/UnusedSuppressionRuleAnalyzerTest.java
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  maven/src/site/markdown/configuration.md
  utils/src/main/java/org/owasp/dependencycheck/utils/Settings.java
Labels: documentation, tests, maven, core, ant, utils

#7255 fix: Make the HTTP-Client use pre-emptive authentication
  core/src/main/java/org/owasp/dependencycheck/analyzer/NexusAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/data/central/CentralSearch.java
  core/src/main/java/org/owasp/dependencycheck/data/nexus/NexusV2Search.java
  core/src/main/java/org/owasp/dependencycheck/data/nexus/NexusV3Search.java
  core/src/main/java/org/owasp/dependencycheck/data/update/KnownExploitedDataSource.java
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  src/site/markdown/data/proxy.md
  src/test/manual-test-proxy-auth/Readme.md
  src/test/manual-test-proxy-auth/debian.conf.override
  utils/src/main/java/org/owasp/dependencycheck/utils/Downloader.java
  utils/src/main/java/org/owasp/dependencycheck/utils/ExplicitCharsetToStringResponseHandler.java
  utils/src/main/java/org/owasp/dependencycheck/utils/ToXMLDocumentResponseHandler.java
Labels: documentation, maven, core, utils
