Repository dependency-check/DependencyCheck, pull requests merged in 2024-03, with the labels that each got.

#6501 fix: issue 5452 - ConcurrentModificationException in NodePackageAnalyzer.processDependencies - adding synchronized block
  core/src/main/java/org/owasp/dependencycheck/analyzer/NodePackageAnalyzer.java
Labels: core

#6454 feat: Allow to pass NVD API key via environment variable
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
Labels: maven

#6489 fix: #4321 Suppress redis server CVEs for client libraries (#4321)
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#6523 build: Release 9.0.10
  CHANGELOG.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#6528 feat: Add v2 support for maven_install.json
  core/src/main/java/org/owasp/dependencycheck/analyzer/PinnedMavenInstallAnalyzer.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/PinnedMavenInstallAnalyzerTest.java
  src/test/resources/maven_install_v010.json
  src/test/resources/maven_install_v2.json
Labels: tests, core

#6526 fix: typo
  core/src/main/java/org/owasp/dependencycheck/data/update/NvdApiDataSource.java
Labels: core

#6557 build(release): version 9.1.0
  CHANGELOG.md
  README.md
  SECURITY.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils
