Repository dependency-check/DependencyCheck, pull requests merged in 2024-10, with the labels that each got.

#7003 chore: checkstyle configuration and suggested updates
  .github/workflows/pull_requests.yml
  cli/src/main/java/org/owasp/dependencycheck/CliParser.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/AbstractSuppressionAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/CarthageAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/PinnedMavenInstallAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/YarnAuditAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/data/nodeaudit/NodeAuditSearch.java
  core/src/main/java/org/owasp/dependencycheck/data/nodeaudit/NpmPayloadBuilder.java
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/CveDB.java
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/CveItemOperator.java
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/DatabaseManager.java
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/DatabaseProperties.java
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/H2Functions.java
  core/src/main/java/org/owasp/dependencycheck/data/update/HostedSuppressionsDataSource.java
  core/src/main/java/org/owasp/dependencycheck/data/update/LocalDataSource.java
  core/src/main/java/org/owasp/dependencycheck/data/update/NvdApiDataSource.java
  core/src/main/java/org/owasp/dependencycheck/data/update/RetireJSDataSource.java
  core/src/main/java/org/owasp/dependencycheck/data/update/nvd/api/CveApiJson20CveItemSource.java
  core/src/main/java/org/owasp/dependencycheck/data/update/nvd/api/CveItemSource.java
  core/src/main/java/org/owasp/dependencycheck/data/update/nvd/api/JsonArrayCveItemSource.java
  core/src/main/java/org/owasp/dependencycheck/data/update/nvd/api/NvdApiProcessor.java
  core/src/main/java/org/owasp/dependencycheck/dependency/Vulnerability.java
  core/src/main/java/org/owasp/dependencycheck/processing/BundlerAuditProcessor.java
  core/src/main/java/org/owasp/dependencycheck/reporting/ReportGenerator.java
  core/src/main/java/org/owasp/dependencycheck/reporting/ReportTool.java
  core/src/main/java/org/owasp/dependencycheck/utils/Utils.java
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  pom.xml
  src/main/config/checkstyle-checks.xml
Labels: maven, cli, core

#7009 docs: reformat javadoc
  core/src/main/java/org/owasp/dependencycheck/analyzer/CarthageAnalyzer.java
Labels: core

#7033 fix: Fixup parameter sequence for Dowloader credentials
  utils/src/main/java/org/owasp/dependencycheck/utils/Downloader.java
Labels: utils

#7059 chore: Remove unnecessary mysql-connector suppressions
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#7064 fix: use latest generated suppressions
  .java-version
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#7065 build: Release 11.0.0
  CHANGELOG.md
  README.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#7074 fix: do not set legacy proxy from maven or env (#7072)
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
Labels: maven

#7077 fix(regression): Make the Downloader honour the proxy.nonproxyhosts ODC Setting
  utils/src/main/java/org/owasp/dependencycheck/utils/Downloader.java
Labels: utils

#7113 docs: add missing documentation for the MS Build Analyzer
  src/site/markdown/analyzers/index.md
  src/site/markdown/analyzers/msbuild.md
Labels: documentation

#7114 feat: PHP Composer Analyzer Scans packages-dev by default
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Check.java
  ant/src/site/markdown/configuration.md
  cli/src/main/java/org/owasp/dependencycheck/App.java
  cli/src/main/java/org/owasp/dependencycheck/CliParser.java
  cli/src/site/markdown/arguments.md
  core/src/main/java/org/owasp/dependencycheck/analyzer/ComposerLockAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/data/composer/ComposerLockParser.java
  core/src/test/java/org/owasp/dependencycheck/data/composer/ComposerLockParserTest.java
  core/src/test/resources/composer.lock
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  maven/src/site/markdown/configuration.md
  src/site/markdown/dependency-check-gradle/configuration.md
  utils/src/main/java/org/owasp/dependencycheck/utils/Settings.java
Labels: documentation, tests, maven, cli, core, ant, utils

#7115 fix: re-add h2 database driver name
  core/src/main/resources/dependencycheck.properties
  core/src/test/resources/dependencycheck.properties
  utils/src/test/resources/dependencycheck.properties
Labels: tests, core, utils

#7116 build: release 11.1.0
  CHANGELOG.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils
