Repository dependency-check/DependencyCheck, pull requests merged in 2024-11, with the labels that each got.

#7125 fix: Gracefully handle CVEs with bad configuration nodes missing CPE match expressions
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/CveItemOperator.java
  core/src/test/java/org/owasp/dependencycheck/data/nvdcve/CveItemOperatorTest.java
Labels: tests, core

#7147 fix: expose flag to disable version check
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Check.java
  ant/src/site/markdown/configuration.md
  cli/src/main/java/org/owasp/dependencycheck/App.java
  cli/src/main/java/org/owasp/dependencycheck/CliParser.java
  cli/src/site/markdown/arguments.md
Labels: documentation, cli, ant

#7143 docs: update documentation for Gradle plugin
  src/site/markdown/dependency-check-gradle/configuration-aggregate.md
  src/site/markdown/dependency-check-gradle/configuration-purge.md
  src/site/markdown/dependency-check-gradle/configuration-update.md
  src/site/markdown/dependency-check-gradle/configuration.md
Labels: documentation

#7138 chore: cleanup base suppression
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#7155 fix: do not log loading of JDBC driver
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/DatabaseManager.java
Labels: core

#7176 docs: update gradle configuration documentation
  src/site/markdown/dependency-check-gradle/configuration-aggregate.md
  src/site/markdown/dependency-check-gradle/configuration.md
Labels: documentation

#7177 fix: rework replaceOrAddVulnerability
  core/src/main/java/org/owasp/dependencycheck/analyzer/AbstractNpmAnalyzer.java
Labels: core
