Repository dependency-check/DependencyCheck, pull requests merged in 2024-01, with the labels that each got.

#6363 build: Release 9.0.8
  CHANGELOG.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#6375 fix: for #6374 to delete non-empty directories
  utils/src/main/java/org/owasp/dependencycheck/utils/FileUtils.java
  utils/src/test/java/org/owasp/dependencycheck/utils/FileUtilsTest.java
Labels: tests, utils

#6379 docs: remove missed git merge conflict from MD file
  maven/src/site/markdown/configuration.md
Labels: documentation, maven

#6382 chore: close stream to prevent possible resource leak
  utils/src/main/java/org/owasp/dependencycheck/utils/FileUtils.java
Labels: utils

#6377 fix: NoSuchMethodError closeQuietly(java.io.Closeable[])
  core/src/main/java/org/owasp/dependencycheck/data/update/nvd/api/JsonArrayCveItemSource.java
Labels: core

#6359 docs: Document default for CLI --data
  cli/src/site/markdown/arguments.md
Labels: documentation, cli

#6396 build: release 9.0.9
  CHANGELOG.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils
