Repository dependency-check/DependencyCheck, pull requests merged in 2025-05, with the labels that each got.

#7629 fix: Resolve various WCAG accessibility / css issues in the HTML report
  core/src/main/resources/templates/htmlReport.vsl
Labels: core

#7640 feat: Allow configuring OSS Index user/pw directly
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  maven/src/site/markdown/configuration.md
Labels: documentation, maven

#7653 fix(cli): Patch generated Windows shell script for JAVACMD installs with spaces
  cli/pom.xml
Labels: cli

#7647 docs: Fix vulnz links
  ant/src/site/markdown/config-purge.md
  ant/src/site/markdown/config-update.md
  ant/src/site/markdown/configuration.md
  cli/src/site/markdown/arguments.md
  core/src/main/java/org/owasp/dependencycheck/data/update/NvdApiDataSource.java
  maven/src/site/markdown/configuration.md
  src/site/markdown/data/cachenvd.md
  src/site/markdown/dependency-check-gradle/configuration-aggregate.md
  src/site/markdown/dependency-check-gradle/configuration-purge.md
  src/site/markdown/dependency-check-gradle/configuration-update.md
  src/site/markdown/dependency-check-gradle/configuration.md
Labels: documentation, maven, cli, core, ant

#7691 docs: Make `Vulnerability Sources` in `Related Work` clearer
  src/site/markdown/related.md
Labels: documentation

#7694 refactor: improve logs and add exception stack trace for YarnAuditAnalyzer
  core/src/main/java/org/owasp/dependencycheck/analyzer/NodePackageAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/YarnAuditAnalyzer.java
Labels: core

#7693 fix: Simplify PHP framework suppression for Composer
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core
