Repository dependency-check/DependencyCheck, pull requests merged in 2025-04, with the labels that each got.

#7577 build(deps): bump open-vulnerability-client from 7.3.1 to 7.3.2
  core/src/main/java/org/owasp/dependencycheck/analyzer/OssIndexAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/CveDB.java
  core/src/main/java/org/owasp/dependencycheck/processing/BundlerAuditProcessor.java
  core/src/main/java/org/owasp/dependencycheck/utils/CvssUtil.java
  core/src/test/java/org/owasp/dependencycheck/data/nvd/ecosystem/UrlEcosystemMapperTest.java
  core/src/test/java/org/owasp/dependencycheck/dependency/VulnerabilityTest.java
  pom.xml
Labels: tests, core

#7578 build: release 12.1.1
  CHANGELOG.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#7575 feat: #7510 Display a dedicated message when receiving an HTTP 403
  core/src/main/java/org/owasp/dependencycheck/analyzer/CentralAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/data/artifactory/ArtifactorySearch.java
  core/src/main/java/org/owasp/dependencycheck/data/central/CentralSearch.java
  core/src/main/java/org/owasp/dependencycheck/data/nexus/NexusV2Search.java
  core/src/main/java/org/owasp/dependencycheck/data/nexus/NexusV3Search.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/CentralAnalyzerTest.java
  utils/src/main/java/org/owasp/dependencycheck/utils/Downloader.java
  utils/src/main/java/org/owasp/dependencycheck/utils/ForbiddenException.java
Labels: tests, core, utils

#7595 chore: remove the unused URLConnectionFactory
  utils/src/main/java/org/owasp/dependencycheck/utils/URLConnectionFactory.java
  utils/src/test/java/org/owasp/dependencycheck/utils/URLConnectionFactoryIT.java
Labels: tests, utils

#7596 chore: Add a serialVersionUID to serializable classes that don't have it
  core/src/main/java/org/owasp/dependencycheck/data/update/exception/CorruptedDatastreamException.java
  utils/src/main/java/org/owasp/dependencycheck/utils/ForbiddenException.java
Labels: core, utils

#7611 feat: #7610 add a reference to NVD mirroring in getting started documentation
  ant/src/site/markdown/index.md.vm
  maven/src/site/markdown/index.md.vm
  src/site/markdown/data/mirrornvd.md
  src/site/markdown/dependency-check-gradle/index.md.vm
Labels: documentation, maven, ant
