Repository dependency-check/DependencyCheck, pull requests merged in 2025-03, with the labels that each got.

#7486 fix: Avoid FPs when Composer product name has php
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#7493 fix: improve null checks in Downloader
  utils/src/main/java/org/owasp/dependencycheck/utils/Downloader.java
Labels: utils

#7501 fix(yarn): avoid error on yarn berry audit when no vulnerability found
  core/src/main/java/org/owasp/dependencycheck/analyzer/YarnAuditAnalyzer.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/YarnAuditAnalyzerIT.java
  core/src/test/resources/yarn/yarn-berry-audit-no-vulnerability/.yarn/install-state.gz
  core/src/test/resources/yarn/yarn-berry-audit-no-vulnerability/.yarn/releases/yarn-4.6.0.cjs
  core/src/test/resources/yarn/yarn-berry-audit-no-vulnerability/.yarnrc.yml
  core/src/test/resources/yarn/yarn-berry-audit-no-vulnerability/node_modules/.yarn-state.yml
  core/src/test/resources/yarn/yarn-berry-audit-no-vulnerability/package.json
  core/src/test/resources/yarn/yarn-berry-audit-no-vulnerability/yarn.lock
  core/src/test/resources/yarn/yarn-berry-audit/.yarn/releases/yarn-4.6.0.cjs
  core/src/test/resources/yarn/yarn-berry-audit/.yarnrc.yml
  core/src/test/resources/yarn/yarn-berry-audit/package.json
  core/src/test/resources/yarn/yarn-berry-audit/yarn.lock
  core/src/test/resources/yarn/yarn-classic-audit/package.json
  core/src/test/resources/yarn/yarn-classic-audit/yarn.lock
Labels: tests, core

#7511 docs: correct gradle documentation
  src/site/markdown/dependency-check-gradle/configuration-aggregate.md
  src/site/markdown/dependency-check-gradle/configuration.md
Labels: documentation

#7521 docs: drop redundant text in the Internet Access Required section
  src/site/markdown/data/index.md
Labels: documentation

#7525 fix(yarn): protect against exotic version number of yarn
  core/src/main/java/org/owasp/dependencycheck/analyzer/YarnAuditAnalyzer.java
Labels: core

#7530 fix: Use unscored severity only in absence of any CVSS baseScore
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Check.java
  cli/src/main/java/org/owasp/dependencycheck/App.java
  core/src/main/java/org/owasp/dependencycheck/agent/DependencyCheckScanAgent.java
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
Labels: maven, cli, core, ant

#7543 fix: Avoid FPs for Symfony Polyfill as framework
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#7546 fix: Avoid FPs for Symfony Contracts as framework
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#7550 docs: update proxy config documentation
  src/site/markdown/data/proxy.md
Labels: documentation

#7548 fix: #6819 handle invalid toml file
  core/src/main/java/org/owasp/dependencycheck/analyzer/PoetryAnalyzer.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/PoetryAnalyzerTest.java
  core/src/test/resources/node-gyp-toml/pyproject.toml
Labels: tests, core

#7544 fix: prevent rogue base suppression files
  core/src/main/java/org/owasp/dependencycheck/analyzer/AbstractSuppressionAnalyzer.java
Labels: core, utils

#7558 fix: resolve NPE when processing CVE-2025-2682
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/CveDB.java
Labels: core
