Repository dependency-check/DependencyCheck, pull requests merged in 2025-08, with the labels that each got.

#7855 docs: Document poetry-based analysis behaviour in Python analyzer
  src/site/markdown/analyzers/python.md
Labels: documentation

#7879 docs: Clarify format of exclude patterns
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
Labels: maven

#7899 fix: correctly utilize CVSSv4 from ossindex
  core/src/main/java/org/owasp/dependencycheck/analyzer/OssIndexAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/utils/CvssUtil.java
Labels: core
