Repository dependency-check/DependencyCheck, pull requests merged in 2025-02, with the labels that each got.

#7407 build(deps): bump open-vulnerability-client to 7.2.2
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/CveDB.java
  pom.xml
Labels: core

#7408 build: release 12.1.0
  CHANGELOG.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#7435 chore(logging): increase log-verbosity on analysis exceptions
  core/src/main/java/org/owasp/dependencycheck/AnalysisTask.java
Labels: core

#7437 fix: Make HC5 Downloader honor the connection- and readTimeout settings that the old URLConnectionFactory based downloads observed
  utils/src/main/java/org/owasp/dependencycheck/utils/Downloader.java
  utils/src/main/java/org/owasp/dependencycheck/utils/Settings.java
Labels: utils

#7469 fix: Also apply muteNoisyLoggers to UpdateMojo
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  maven/src/main/java/org/owasp/dependencycheck/maven/UpdateMojo.java
Labels: maven

#7470 fix: cli not honoring window paths correctly
  cli/src/main/java/org/owasp/dependencycheck/App.java
Labels: cli
