Repository dependency-check/DependencyCheck, pull requests merged in 2025-01, with the labels that each got.

#7277 feat: Extend authentication to support Bearer token for many resources
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Check.java
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Purge.java
  ant/src/main/java/org/owasp/dependencycheck/taskdefs/Update.java
  ant/src/site/markdown/config-purge.md
  ant/src/site/markdown/config-update.md
  ant/src/site/markdown/configuration.md
  cli/src/main/java/org/owasp/dependencycheck/App.java
  cli/src/main/java/org/owasp/dependencycheck/CliParser.java
  cli/src/site/markdown/arguments.md
  core/src/main/java/org/owasp/dependencycheck/analyzer/AbstractSuppressionAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/ArtifactoryAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/data/update/nvd/api/DownloadTask.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/AbstractSuppressionAnalyzerTest.java
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  maven/src/main/java/org/owasp/dependencycheck/maven/CheckMojo.java
  maven/src/site/markdown/configuration.md
  utils/src/main/java/org/owasp/dependencycheck/utils/Downloader.java
  utils/src/main/java/org/owasp/dependencycheck/utils/HC5CredentialHelper.java
  utils/src/main/java/org/owasp/dependencycheck/utils/Settings.java
Labels: documentation, tests, maven, cli, core, ant, utils

#7281 chore(docs): Document the new gradle plugin authentication options
  src/site/markdown/dependency-check-gradle/configuration-aggregate.md
  src/site/markdown/dependency-check-gradle/configuration-update.md
  src/site/markdown/dependency-check-gradle/configuration.md
Labels: documentation

#7284 feat: Use Maven settings decryption API for decrypting secrets from settings.xml
  maven/pom.xml
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
  pom.xml
Labels: maven

#7294 build(deps): Sanitize dependencies based on dependency:analyze-report results
  ant/pom.xml
  cli/pom.xml
  core/pom.xml
  core/src/main/java/org/owasp/dependencycheck/data/nvdcve/CveDB.java
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#7296 chore: fixup JQuery LICENSE.txt file which was a full github html page dump
  core/src/main/resources/META-INF/licenses/jquery/MIT-LICENSE.txt
Labels: core

#7295 fix: add product evidence as vendor to reduce FN
  core/src/main/java/org/owasp/dependencycheck/analyzer/AssemblyAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/AutoconfAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/CocoaPodsAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/ComposerLockAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/LibmanAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/MSBuildProjectAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/NugetconfAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/NuspecAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/PEAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/PinnedMavenInstallAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/PythonPackageAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/processing/BundlerAuditProcessor.java
  core/src/main/java/org/owasp/dependencycheck/processing/MixAuditProcessor.java
  core/src/test/java/org/owasp/dependencycheck/EngineIT.java
  core/src/test/java/org/owasp/dependencycheck/agent/DependencyCheckScanAgentIT.java
Labels: tests, core

#7297 chore: Remove code-paths for Java versions <=8
  core/pom.xml
  core/src/main/java/org/owasp/dependencycheck/Engine.java
  core/src/main/java/org/owasp/dependencycheck/data/update/cisa/KnownExploitedVulnerabilityParser.java
  core/src/main/java/org/owasp/dependencycheck/utils/Utils.java
  core/src/test/java/org/owasp/dependencycheck/utils/UtilsTest.java
  utils/src/main/java/org/owasp/dependencycheck/utils/SSLSocketFactoryEx.java
  utils/src/main/java/org/owasp/dependencycheck/utils/URLConnectionFactory.java
  utils/src/test/java/org/owasp/dependencycheck/utils/DownloaderIT.java
Labels: tests, core, utils

#7298 build: release 12.0.0
  CHANGELOG.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#7306 fix: Correct nonProxyHosts support when no sys properties set
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
Labels: maven

#7313 fix: improve error message on improperly configured serverId credentials in settings.xml
  maven/src/main/java/org/owasp/dependencycheck/maven/BaseDependencyCheckMojo.java
Labels: maven

#7305 chore(docs): Correct analyzers config example to use Gradle dot-syntax
  src/site/markdown/dependency-check-gradle/configuration.md
Labels: documentation

#7307 chore(docs): Document Gradle plugin support for failBuildOnUnusedSuppressionRule
  ant/src/site/markdown/configuration.md
  maven/src/site/markdown/configuration.md
  src/site/markdown/dependency-check-gradle/configuration.md
Labels: documentation, maven, ant

#7322 docs: Fix OSS Index Maven config documentation
  maven/src/site/markdown/configuration.md
Labels: documentation, maven

#7325 build: release 12.0.1
  CHANGELOG.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#7326 chore: switch from javax.json to jakarta.json
  core/pom.xml
  core/src/main/java/org/owasp/dependencycheck/analyzer/AbstractNpmAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/GolangModAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/LibmanAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/NodeAuditAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/NodePackageAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/PipfilelockAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/SwiftPackageResolvedAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/YarnAuditAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/data/composer/ComposerLockParser.java
  core/src/main/java/org/owasp/dependencycheck/data/elixir/MixAuditJsonParser.java
  core/src/main/java/org/owasp/dependencycheck/data/golang/GoModJsonParser.java
  core/src/main/java/org/owasp/dependencycheck/data/nexus/NexusV3Search.java
  core/src/main/java/org/owasp/dependencycheck/data/nodeaudit/NodeAuditSearch.java
  core/src/main/java/org/owasp/dependencycheck/data/nodeaudit/NpmPayloadBuilder.java
  core/src/test/java/org/owasp/dependencycheck/data/nodeaudit/NodeAuditSearchTest.java
  core/src/test/java/org/owasp/dependencycheck/data/nodeaudit/NpmPayloadBuilderTest.java
  pom.xml
  utils/pom.xml
  utils/src/test/java/org/owasp/dependencycheck/utils/JsonArrayFixingInputStreamTest.java
Labels: tests, core, utils

#7334 chore(docs): Remove experimental info from nugetconf and retirejs analyzers docs.
  src/site/markdown/analyzers/nugetconf-analyzer.md
  src/site/markdown/analyzers/retirejs-analyzer.md
Labels: documentation

#7327 chore: maintenance
  core/src/main/java/org/owasp/dependencycheck/analyzer/AbstractNpmAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/LibmanAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/UnusedSuppressionRuleAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/data/composer/ComposerLockParser.java
  core/src/main/java/org/owasp/dependencycheck/data/update/KnownExploitedDataSource.java
  core/src/main/java/org/owasp/dependencycheck/data/update/nvd/api/CveItemSource.java
  core/src/main/java/org/owasp/dependencycheck/reporting/SarifRule.java
  pom.xml
  utils/pom.xml
Labels: core, utils

#7349 fix: some compatability issues in the gitlab report
  core/src/main/java/org/owasp/dependencycheck/reporting/ReportGenerator.java
  core/src/main/resources/templates/gitlabReport.vsl
Labels: core

#7293 feat: ArtifactoryAnalyzer updated to use the HTTPClient5-based Downloader and skip unusable results
  core/src/main/java/org/owasp/dependencycheck/data/artifactory/ArtifactorySearch.java
  core/src/main/java/org/owasp/dependencycheck/data/artifactory/ArtifactorySearchResponseHandler.java
  core/src/test/java/org/owasp/dependencycheck/data/artifactory/ArtifactorySearchResponseHandlerTest.java
  core/src/test/java/org/owasp/dependencycheck/data/artifactory/ArtifactorySearchTest.java
  utils/src/main/java/org/owasp/dependencycheck/utils/Downloader.java
Labels: tests, core, utils

#7350 fix: correct JSON report error
  core/src/main/resources/templates/jsonReport.vsl
Labels: core

#7353 chore: allow messages via EngineVersionCheck
  core/src/main/java/org/owasp/dependencycheck/data/update/EngineVersionCheck.java
  core/src/test/java/org/owasp/dependencycheck/utils/DependencyVersionTest.java
Labels: tests, core

#7360 build: release 12.0.2
  CHANGELOG.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#7361 chore: revert release
  CHANGELOG.md
Labels: maven, cli, core, ant, utils

#7363 build: revert snapshot number
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#7364 fix: Add missing used dependency and remove force-usage for dependency-plugin for a now explicitly used dependency
  core/pom.xml
Labels: core

#7369 build: release 12.0.2
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#7319 feat: Implement Yarn Berry Analyser
  core/src/main/java/org/owasp/dependencycheck/analyzer/YarnAuditAnalyzer.java
  core/src/test/java/org/owasp/dependencycheck/analyzer/YarnAuditAnalyzerIT.java
  core/src/test/resources/yarn-berry-audit/.yarn/releases/yarn-4.6.0.cjs
  core/src/test/resources/yarn-berry-audit/.yarnrc.yml
  core/src/test/resources/yarn-berry-audit/package.json
  core/src/test/resources/yarn-berry-audit/yarn.lock
  core/src/test/resources/yarn-classic-audit/package.json
  core/src/test/resources/yarn-classic-audit/yarn.lock
Labels: documentation, tests, maven, cli, core, ant, utils

#7367 fix: Improve thread safety issue #7338 alternative
  core/src/main/java/org/owasp/dependencycheck/analyzer/NvdCveAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/analyzer/OssIndexAnalyzer.java
  core/src/main/java/org/owasp/dependencycheck/dependency/Vulnerability.java
  core/src/main/java/org/owasp/dependencycheck/processing/BundlerAuditProcessor.java
Labels: core
