Repository dependency-check/DependencyCheck, pull requests merged in 2025-09, with the labels that each got.

#7931 build: release 12.1.4
  CHANGELOG.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#7935 fix: Correct CVSSv4 parsing for low precision OSSIndex values
  core/src/main/java/org/owasp/dependencycheck/utils/CvssUtil.java
  core/src/test/java/org/owasp/dependencycheck/utils/CvssUtilTest.java
Labels: tests, core

#7965 build(deps): bump netty-codec-http from 5.2.4-final to 5.2.5-final
  utils/pom.xml
Labels: utils

#7966 build: release 12.1.6
  CHANGELOG.md
  ant/pom.xml
  archetype/pom.xml
  cli/pom.xml
  core/pom.xml
  maven/pom.xml
  pom.xml
  utils/pom.xml
Labels: maven, cli, core, ant, utils

#7980 fix(fp): Fix broad Python regex to suppress packages ending in `-python`
  core/src/main/resources/dependencycheck-base-suppression.xml
Labels: core

#7979 fix: Clean up Apache Lucene logging via SLF4j redirect
  cli/src/main/resources/logback.xml
  core/pom.xml
  core/src/main/java/org/owasp/dependencycheck/data/cpe/AbstractMemoryIndex.java
  pom.xml
Labels: cli, core

#7952 build: Build amd64 and arm64 multi-platform Docker image
  .github/workflows/build.yml
  .github/workflows/pull_requests.yml
  .github/workflows/release.yml
  Dockerfile
  build-docker.sh
  publish-docker.sh
  shell-docker.sh
  test-docker.sh
Labels: enhancement, docker

#7990 fix: remove sponsorship link
  core/src/main/resources/templates/htmlReport.vsl
  core/src/main/resources/templates/jenkinsReport.vsl
Labels: core
