Repository dependency-check/DependencyCheck, pull requests merged in 2025-10, with the labels that each got.

#7993 fix: disable central analyzer after failures
  core/src/main/java/org/owasp/dependencycheck/analyzer/CentralAnalyzer.java
  core/src/main/resources/dependencycheck.properties
  core/src/test/resources/dependencycheck.properties
  utils/src/test/resources/dependencycheck.properties
Labels: tests, core, utils

#8000 docs: Clarify Nexus Analyzer requirements and usage
  ant/src/site/markdown/configuration.md
  cli/src/site/markdown/arguments.md
  maven/src/site/markdown/configuration.md
  src/site/markdown/analyzers/nexus-analyzer.md
  src/site/markdown/dependency-check-gradle/configuration-aggregate.md
  src/site/markdown/dependency-check-gradle/configuration.md
Labels: documentation, maven, cli, ant

#8003 fix: Suppress JVM warnings from Lucene within CLI
  cli/pom.xml
Labels: cli
